//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
    
  }
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row;
}


// Columns
//
// Common styles for small and large grid columns

@include make-grid-columns;


// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.


@media (min-width: 320px) {
	@include make-grid(xs);
	.nav li a {
	    padding: 10px;
	    font-size: 14px;
    }
    
    .brand {
	    margin-left: 60px;
	    padding: 15px 10px;
    }
        
    .Phone.text-right {
	    text-align: left;
    }
    
    .Social.text-right {
	    text-align: left;
    }
    
    .Bigtitle h1 {
	    font-size: 24px;
	    padding-left: 10px;
	    padding-right: 10px;
    }
    
    .jumbotron p {
	    font-size: 18px;
    }
    
    .jumbotron h1 {
	    font-size: 24px;
    }
    
    #myTab li a {
	    font-size: 10px;
    }
    
    .Offer .Description {
		padding-right: 10px;
	}
    
    .OfferImg {
		padding-right: 15px;
		padding-left: 15px;
	}
	
	body {
	    background: #fff;
    }
    
    .News {
	    padding-right: 25px;
	    padding-left: 25px;
    }
	
}

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
  
   .nav li a {
	    padding:20px 10px;
	    font-size: 12px;
    }
    
    .brand {
	    margin-left: 0px;
	    padding: 11px 10px;
    }
    
    .Phone.text-right {
	    text-align: right;
    }
    
    .Social.text-right {
	    text-align: right;
    }
    
    .jumbotron h1 {
	    font-size: 41px;
    }
    
    .FaqContent {
	    padding: 15px 15px;
    }
    
    #myTab li a {
	    font-size: 16px;
    }
    
    .Bigtitle h1 {
	    font-size: 41px;
	    padding-left: 10px;
	    padding-right: 10px;
    }
    
    
    .Offer .OfferPrices {
	    padding-left: 10px;
    }
    
    .OfferImg {
		padding-right: 0px;
		padding-left: 20px;}
		
	.Offer .Description {
		padding-right: 0px;
	}	
    
    .brand {
	    width: 180px;
    }
    
    body {
	    background: #f2f2f2;
    }
    
    .News {
	    padding-right: 30px;
	    padding-left: 10px;
    }
  
  
}


// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
  @include make-grid(md);
  
     .nav li a {
	    padding:20px 8px;
	    font-size: 14px;
    }
    
    .FaqContent {
	    padding: 15px 60px;
    }
    
    .Offer .OfferPrices {
	    padding-left: 0px;
    }

    
     .brand {
	    width: 220px;
    }
    
    body {
	    background: #f2f2f2;
    }
    
    .jumbotron h1 {
	    font-size: 51px;
    }
    
    .News {
	    padding-right: 30px;
	     padding-left: 10px;

    }
    
  
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
  
      .nav li a {
	    padding:20px 15px;
	   font-size: 14px;
    }
    
    body {
	    background: #f2f2f2;
    }
    
    .jumbotron h1 {
	    font-size: 61px;
    }
    
    .jumbotron p {
	    font-size: 24px;
    }
    
    .News {
	    padding-right: 30px;
	     padding-left: 10px;

    }
    
  
}
