$dark: #323132;
$extradark: #4f572d;
$medium: #7dc31f;
$light: #e0f09a;
$white: #fff;

$linktext: #38B5E6;
$linktexthover: #3094bb; 

$butback: #7dc31f;
$butbackhover: #87944d;
$buttext: #fff;

$navhover: #f4f4f4;
$submenu: #f8f8f8; 

$bodytext: #777;
$alt1: #7dc31f;

$atcbut: #ffc247;
$atcbuthover: #ffaa00;
$atctext: #fff;
$atctextshadow: #c28100;

@mixin trans($prop, $duration){
	-webkit-transition: $prop $duration;
	-moz-transition: $prop $duration;
	transition: $prop $duration;
}


a {
	color: $linktext;
	@include trans(color, 0.5s);	
}

a:hover {
	color: $linktexthover;
	@include trans(color, 0.5s);	
}



body {	
	color: $bodytext;
}

.navbar {
	background-color: $white;
	//border-bottom: solid 1px $dark;

	.brand {
		background-color: $white;	
	}

	.nav {
		> {
			li {
				> a {
					color: $dark;

					&:hover,
					&:focus {
						background-color: $white;
						color: $dark;
					}
				}
				
				&.activehover {
					> a {
						background-color: $navhover;
						color: $dark;
					}
				}
			}
		
			.active {
				a {
					color: $extradark;
					
					&:hover,
					&:focus {
						color: $extradark;
					}
				}
			}
		}
	}
}


.offer {
	.description {
		a {
			color: $linktext;
		}
	}
	
	.details-expand {
		color: #ccc;
		background-color: $white;
		border: 1px solid #ccc;
		
		&.expanded {
			background-color: $dark;
		}
	}
	
	&.cta {
		color: $dark;
		@include trans(background-color, 0.5s);	
	
		&.alt {
			background-color: $medium;
			color: #fff;
			
			a, a:hover {
				color: #fff;
				display: block;
			}
			
			&:hover {
				background-color: $butbackhover;
				@include trans(background-color, 0.5s);	
			}
		}
	}
	
	.plabel {
		background: #ccc;
		opacity: 0.8;
		
	}
}

.btn {
	background-color: $alt1;
	
	&:hover, &:focus {
		background-color: $alt1;
	}
}

.pricing {
	.special {
		background-color: $alt1;
		color: #fff;
	}
}

.top-contrib {
	background-color: $dark;
	color: #fff;
}

.quantity {
	color: $dark;
	background-color: $medium;

}

.navbar {
	.navbar-toggle {
		&:hover {
			color: #fff;
			background-color: $navhover;
			.icon-bar {
				color: #fff;
			}
		}
	}
}

footer {
	background: $white;
	
	p {
		color: $dark;
	}
}



