@import "http://webfonts.ru/import/souses.css";

@mixin transitionwipe($duration) {
	-moz-transition: $duration;
	-ms-transition: $duration;
	-o-transition: $duration;
	-webkit-transition: $duration;
	transition: $duration;
}

@mixin trans($prop, $duration){
	-webkit-transition: $prop $duration;
	-moz-transition: $prop $duration;
	transition: $prop $duration;
}

@mixin borderradius($radius){
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}

@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow: white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

body {
	font-family: 'PT Sans', sans-serif;
	padding-top: 60px;	
	padding-left: 20px;
	padding-right: 20px;
	background: #f8f8f8 ;
}

h1,
h3,
h4 {
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}
/*
*	Header & Navigation
*/

header {
	box-shadow: rgba(0,0,0,0.1) 0px 2px 2px -1px;
	position: relative;
}

nav {
	float: left;
}

b.count {
    	color: #fff;
    	background: #fd5e00;
    	padding: 2px 8px;
    	margin-left: 3px;
    	border-radius: 3px;
    }

.navbar {
	
	.brand {
		margin-left: 0;
		text-shadow: none;
		color: #fff;
		text-transform: uppercase;
		padding:11px 10px;
		text-align: center;
		white-space: nowrap;
		float: left;
		font-size: 20px;
		
	}

	.nav {
		position: inherit;
		
		.Green {
		color: #ccc;
	}
		
		> {
			li {
				> a {
					text-transform: uppercase;
					text-shadow: none;
					@include trans(background-color, 0.5s);
					font-weight: 700;		
				}
			}
		
			.active {
				a {
					color: inherit;
					text-decoration: none;
					background-color: transparent;
					box-shadow: none;
					@include trans(background-color, 0.5s);			
			
					&:hover {
						color: inherit;
						text-decoration: none;
						background-color: transparent;
						box-shadow: none;
						@include trans(background-color, 0.5s);			
					}
					&:focus {
						color: inherit;
						text-decoration: none;
						background-color: transparent;
						box-shadow: none;
						@include trans(background-color, 0.5s);			
					}	
				}
			}
		}
	}
	
	.navbar-collapse {
		border-top: none;
		box-shadow: none;
		padding: 0;
		width: 100%;
	}
}

.navbar-toggle {
	height: 61px;
	margin: 0 auto;
	border: none;
	padding: 0 17px;
	border-radius: 0;
	background: #f2f2f2;
	border-left: 1px solid #f2f2f2;
		
		.icon-bar {
			background-color: #fff;
			width: 20px;
			height: 3px;
			box-shadow: none;
			border-radius: 0;
			+ .icon-bar {
				margin-top: 4px;
			}
		}		

}



.basket {
	float: right;
	padding: 0 10px 0 10px;
	height: 60px;
	
	.basket-link {
		height: 41px;
		display: block;
	}
	
	.basket-count {
		background: #38b5e6;		
		padding: 10px 15px;
		text-align: center;
		font-size: 14px;
		margin-top:10px;
		border-radius: 3px;
		color: #fff;
		text-transform: uppercase;
		
		.glyphicon {
			position: relative;
			top: 2px;
		}
		
	}

}

#UserArea {
	margin: 0;
	list-style: none;
	
	
	i {
		font-style: normal;
	}
	
	span.glyphicon {
		padding-right: 5px;
			
	}
	
	.dropdown a {
		color: #38B5E6;
	}	
		
		
}

/*
* Generic Elements 
*/
#product-board {
	margin: 0px auto;
	min-height: 800px;
}

.NewsContainer {
	margin-top: 60px;
	margin-bottom: 20px;
}

.jumbotron {
	h1 {
		font-family: 'Souses';
		 margin-bottom: 40px;
		
		a {
		border-bottom: 5px dotted #38B5E6;
		padding-bottom: 10px;
	}
	
	p {
		margin-bottom: 20px;
	}
		
	}
	
	
}

.offer {
	float: left;
	margin: 5px 1% 5px 1%;
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;
	position: relative;
	border: 1px solid #eee;

	&.medium {
		width: 47%;
	}
	&.large {
		width: 97%;	
	}

	.text {
		padding: 15px;	
		
		h3 {
			margin-top: 0;
		}
	}

	.media {
		padding: 0px;		
		border-bottom: solid 1px #efefef;
		position: relative;
		
		&.media:hover {
		
			.QuickView {
				opacity: 0.9;

			}
		}
		
		.QuickView {
			position: absolute;
			top: 54%;
			margin-top: -20px;
			z-index: 9;
			opacity: 0;
			padding: 0px;
			width: 100%;

			.btn {
				border-radius: 0;
				background: #fff;
				color: #8CC63E;
				span {
					margin-right: 5px;
					position: relative;
					top: 3px;
				}
			}
		
		}
		
		a {
			display: block;
			width: 100%;
			margin: 0 auto;
			position: relative;
			bottom: 0;
			
			img.active{
				display: block;
			}
			
			img{
				
			}
			
		}
	}
		.plabel {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-left: -5px;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0;			
		@include box-emboss(0.8, 0.05);
		color: white;
	}
	
	.details {
		padding: 10px 0;
		position: relative;
		
		p {
			
			margin: 0;
			font-size: 14px;
			
			span.eCPC {
				display: block;
				font-weight: normal;
				font-size: 12px;
				margin-top: 5px;
			}
			
			span.Line {
				border-left: 2px solid #eec401;
				padding: 0 10px;
				display: block;
			}
			
			&.name {
				font-size: 16px;
				line-height: 1.3;
				font-weight: 700;
				min-height: 115px;
				padding-bottom: 10px;
				
				a {
					color: #777;
				}
				
			}
			
			&.price {
				padding: 0 10px;
				position: relative;
				bottom: 3px;
				
				& .total {
					color: #8CC63E;
					font-weight: bold;
					font-size: 16px;
				}
				
				.cur {
					margin-left: 2px;
					font-size: 12px;
				}
				
			}
		}
	}
	
	.details-expand {
		position: absolute;
		display: none;
		right: 10px;
		bottom: 10px;
		width: 30px;
		height: 30px;
		line-height: 32px;
		text-align: center;
		border-radius: 50px;
		@include trans(background-color, 0.5s);			
		
		&:hover {
			@include trans(background-color, 0.5s);							
		}
		
		.glyphicon {
			font-size: 14px;
		}
		
	}
	

	&.cta {		
		text-align: center;		
		
		h3 {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 28px;
			line-height: 1.5;			
		}
		
		.content {
			margin: 10px;
		}
		
		.poff {
			text-transform: uppercase;
			line-height: 1;
			font-size: 40px;
		}
	}

}

.container {
	padding: 0;
}

.product-page {
	.container {	
		&.product-main {
			background-color: #fff;
			box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.2);
		}
	}
	
	.content {
		margin: 15px;
	}
	
	h1 {
		margin-bottom: 0;
	}
	
	.product-details-small {
		display: none;
	}
	
	.pricing {
		margin: 15px 0;
		
		.bigprice {
			font-size: 36px;
			margin-bottom: 0;
			
			small {
				font-size: 14px;
			}
			
			.NewPrice {
				color: #8cc63e;
			}
			
		}
		
		.cur {
			font-size: 18px;
		}
		
		.price {
			font-size: 18px;
			margin-bottom: 0;
		
			.delivery {
				font-size: 12px;
			}
		}
		
		.special {
			float: left;
			padding: 5px;			
			@include box-emboss(0.8, 0.05);
		}
	}
	
	.Sale {
			position: absolute;
			z-index: 999;
			background:#8CC63E;
			padding: 3px 15px;
			
			b {
				color: #fff;
			}

		}
	
	.main-imgs {
		margin-bottom: 10px;
		position: relative;

		img {
			border: 1px solid #eee;
		}
		
		.background {
			display: none;
		}
	}
	
	.form-inline.cart {
		
		.btn {
			width: 100%;	
		}
	}
	
	.tab-pane {
		border-bottom: solid 1px #ddd;
		margin-bottom: 20px;
	}
}


.table-striped tbody > tr.cart-summary > td {
	background-color: #fff !important;
}



.added-to-basket {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #14b602;
	line-height: 50px;
}

footer {
	padding: 10px 0;

	
	.BottomFooter {
		border-top: 1px solid #eee;
		margin-top: 20px;
		padding-top: 20px;
	}
	
	.container {
		margin-top: 10px;
	}
	
	ul {
		padding-left: 0;
		list-style: none;
		
		li {
			margin-bottom: 5px;
		}
		
		
		a {
			color: #777;
			opacity: 0.7;
			text-transform: uppercase;
			font-weight: bold;
			
			&:hover {
				opacity: 1;
			}
		}
		
	}

	.Phone {
		font-size: 24px;
		font-weight: bold;
		
		b {
			color: #38B5E6;
		}
		
		a {
			font-size: 14px;
			color: #38B5E6;
		}
		
		span {
			display: block;
			font-size: 14px;
			opacity: 0.6;
			font-weight: normal;
		}
	}
		
	p,
	form {
		text-align: center;
	}
	
	.col-sm-6 {
		margin-bottom: 25px;
	}
	
	.form-control {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
}


.load-more-container {
	text-align: center;
}

/*
*	Animate items
*/
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}



label {
	font-weight: normal;
}

.product-page .product-details-large {
	display: none;
}
.product-page .product-details-small {
	display: block;
}


.report {
	color: #000;
	.glyphicon {
		top: 3px;
	}
}


@media (min-width: 520px) {

	.offer {
		&.medium {
			width: 31%;
		}
		&.large {
			width: 64%;	
		}
		
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}	
	
	.navbar {
		.nav {
			position: static;
		
			> {
				li {
					float: left;	
			
				}
			}
		}
		
		.navbar-collapse {
			width: auto;
		}
	}
	
	#product-board {
		width: 724px;
		margin: 0px auto;
	}
	
	.load-more-container {
		width: 724px;
		margin: 20px auto;		
	}
	
	.offer {
		margin: 5px;
		
		&.medium {
			width: 31%;
		}
		&.large {
			width: 64%;	
		}
	}
	
	footer {
		border-top: 1px solid #eee;
		
		p,
		form {
			text-align: left;
			
		}
		
		.col-sm-6 {
			margin-bottom: 0;
		}
	
		input[type="text"] {
			width: 80%;
			margin-bottom: 0;
		}
	}
	
	body {
		padding-left: 0;
		padding-right: 0;		
	}
	
	.product-page .product-details-large {
		display: block;
		
		
		
		small a {
			color: #7dc31f;
			margin-right: 10px;
		}
		
		span.glyphicon-tags {
			margin-right: 5px;
			font-size: 10px;
		}
		
	}
	.product-page .product-details-small {
		display: none;
	}

	
	.signin {
		.form-control {
			width: auto;
		}
	}
	
	#login-form input,
	#shipping-rates,
	#discount_code {
		width: auto;
	}
	
	#credit_card_month {
		margin-right: 3%;	
		margin-bottom: 0;
	}
	
	#discount_code {
		margin-bottom: 0;
	}
	
	#credit_card_month,
	#credit_card_year {
		width: 47%;
		float: left;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#product-board {
		width: 900px;
		margin: 0px auto;
	}
	
	.load-more-container {
		width: 900px;
		margin: 20px auto;		
	}
	
	.offer {
		&.large {
			width: 340px;		
		}

		&.medium {
			width: 170px;		
		}
	}
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#product-board {
		width: 1200px;
	}
	
	.load-more-container {
		width: 1200px;
	}
	
	.offer {
		&.large {
			width: 390px;
		}
		&.medium {
			width: 190px;
		}
	}
}

.InformBlock {
	text-align: center;
	padding: 20px 0 15px 0;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}

#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.product-board {
	#radioBtn {
		text-align: center;
		padding: 0px 0 15px 0;
		display: block;
		a {
			display: inline-block;
			position: relative;
			padding: 10px 20px;
			text-transform: uppercase;
			
			span.Triangle {
				border: 10px solid transparent; border-top: 10px solid #38B5E6;
				position: absolute;
				top: 40px;
				left: 50%;
				margin-left: -5px;
				display: none; 
			}
			
		}
		
		a.active {
			span {
				display: block;
			}
		}
		
	}
}

.product-page .Recomended {
	margin-top: 20px;
}

#radioBtn {
   
   a {
	  border: 1px solid #eee;
	  margin: 0;
	  padding: 5px 10px;
	  
	  border-radius: 4px;
	  cursor: pointer;
	  display: inline-block;
	  margin-bottom: 5px;
	  background: #fff;
	  transition:none;
	  
	  &.active {
		  background: #38B5E6;
		  color: #fff;
	  }
	  
   }
   
}

.MainButton {
	height: 45px;
	margin-bottom: 10px;
	margin-top: 20px;
	
	button {
		text-transform: uppercase;
	}
}

.btn-fresh {
color: #fff;
background-color: #8CC63E;
border-bottom:2px solid #648d2c;
box-shadow: 1px 1px 5px #888888;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #8CC63E;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
outline: none;
outline-offset: none;
border-bottom: none;
margin-top: 2px;
box-shadow: 0px 0px 2px #888888;
}


.product-board .PopInfo {
	margin: 0;
	.PopBlock {
		text-align: left;
		margin-bottom: 15px;
		p {
			padding-top: 30px;
			padding-left: 90px;
			
			b {
				display: block;
				
			}
				
			}
		
		& div {
			float: left;
		}
	}
}

.NewsBlock {
	background: #fff;
	
	.Date {
		text-align: center;
		border: 1px solid #eee;
		padding-top: 5px;
		padding-bottom: 5px;
		span {
			display: block;
		}
	}
	
	.News {
		border-top: 1px dotted #eee;
		padding-top: 10px;
		margin-bottom: 10px;
		
		.col-md-9 {
			padding-left: 0;
		}
		
		a {
			display: block;
			color: #777;
			span {
				display: block;
				
				&.New {
					color: #8CC63E;
				}
				
			}
		}
		
	}
} 

.PopInfo {
	text-align: center;
	
	
	&.inIndex {
		margin-bottom: 40px;
		
		
		.PopBlock {
			margin-bottom: 40px;
			margin-top: 0;
			
			p {
				padding-left: 110px;
				padding-top: 10px;
				color: #777;
				font-size: 16px;
				
				b {
					font-size: 18px;
					margin-bottom: 10px;
				}
				
			}
			
			& div {
				background:  url("/img/bigsprite.png") no-repeat;
				box-shadow: none;
				border-radius: 0;
				width: 86px;
				height: 86px;
			}
			
			.Exs {
			background-position: 0px 0px 
			}
			
			.Manager {
				background-position: 0px -130px; 
			}
			
			.Stat {
				background-position: 0px -277px; 
			}
			
			.Pay {
				background-position: 0px -409px; 
			}
			
		}
		
	}

	.PopBlock {
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 0 20px;
		
		& div {
			background: #f8f8f8 url("/img/sprite.png") no-repeat;
			box-shadow: inset 1px 3px 3px -1px rgba(0, 0, 0, 0.1);
			border-radius: 50%;
			margin: 10px auto;
			width: 80px;
			height: 80px;
		}
		
		.TryOn {
			background-position: 17px 20px 
		}
		
		.Delivery {
			background-position: 17px -81px 
		}
		
		.EasyPay {
			background-position: 18px -155px 
		}
		
		.Phone {
			background-position: 15px -240px 
		}
	}
	
}


.modal-body .table td {
	border-top: 0px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss {
	background: #F80 url("/img/soc.png") no-repeat 8px -115px; 
}
.social-network a.icoFacebook {
	
	background: #3B5998 url("/img/soc.png") no-repeat 7px 8px;
}
.social-network a.icoTwitter {
	background: #33ccff url("/img/soc.png") no-repeat 9px -33px;
}
.social-network a.icoGoogle {
	background: #45668e url("/img/soc.png") no-repeat 7px -73px;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


#login-overlay {
	.list-unstyled {
		span {
			color: #8cc63e;
			margin-right: 5px;
		}
		
		a {
			color: #8cc63e;
		}
	}
}

.Icons {
	position: absolute;
	top: 50%;
	left: -50px;
	margin-top: -150px;
	
	ul {
		list-style: none;
		
		li {
			display: block;
			height: 50px;
			width: 50px;
			background: #fff;
			border-radius: 50%;
			margin-bottom: 10px;
		    border: 1px solid #ccc;
			
			&.Delivery {
				background: url("/img/sprite2.png") no-repeat -17px -57px;
			}
			
			&.TryOn {
				background: url("/img/sprite2.png") no-repeat -17px -9px;
			}
			
			&.Pay {
				background: url("/img/sprite2.png") no-repeat -17px -102px;
			}
			
			&.Phone {
				background: url("/img/sprite2.png") no-repeat -17px -155px;
			}
			
		}
		
	}
}


#page-preloader {
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 184px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("/img/logo.png") no-repeat;
    margin: -27px 0 0 -92px;}


.Mail {
	font-size: 18px;
	color: #8CC63E;
	
	span {
		position: relative;
		top: 4px;
	}
}


#OfferDescriptionTable tr td {
	border: none;
}

.Question {
	border: 1px solid #ccc;
	background: linear-gradient(to top, #f2f2f2, #fff);
	padding: 2px 7px;
	border-radius: 50px; 
	cursor: pointer;
	font-size: 12px;
	color: #ccc;
}

.PriceArea {
	border-top: 1px dotted #ccc;
	margin-top: 20px;
	padding-top: 10px;
}


.LandingLink {
	margin-bottom: 10px;
	
	a {
		color: #38B5E6;
	}
}

.GreyArea {
	background: #f8f8f8;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	padding-top: 5px;
	margin-top: 20px;
}

#myTab {
	padding: 10px 15px 0 15px;
	background: #f8f8f8;
	
	li a {

		font-weight: bold;
		text-transform: uppercase;
	}
}

.checkbox a {
	color: #38B5E6;
}

.req {
	span {
		color: #8CC63E;
	}
}

#TabContent {
	padding-top: 15px;
	.control-group {
		margin-bottom: 10px;
		margin-right: 30px;
		margin-left: 30px;
	}
	
	.controls {
		position: relative;
		
		.glyphicon {
			position: absolute;
			top: -6px;
			font-size: 14px;
			left: -6px;
			color: #8CC63E;
		}
		
	}
	
	
	
	.form-horizontal .control-label {
		padding-bottom: 7px;
	}
	
}

#RegModal {
	.modal-body {
		padding: 0;
	}
	
	.tab-pane {
		border-bottom: none;
		margin-bottom: 10px;
	}
}

.Support {
	text-align: right;
	margin-bottom: 20px;
	margin-top: 20px;
	
	
	.IconMail {
		background:url("/img/support.png") no-repeat; 
		padding: 6px 0px 10px 40px;
		margin-right: 20px;
		border-right: 1px solid #eee;
		padding-right: 20px;
		
	}
	
	.IconSkype {
		background:url("/img/support.png") no-repeat 0 -43px;
		padding: 6px 0px 10px 40px;
		margin-right: 20px;
		border-right: 1px solid #eee;
		padding-right: 20px;
		
	}
	
	.IconPhone {
		background:url("/img/support.png") no-repeat 0 -85px;
		padding: 6px 0px 10px 40px;
		
	}
	
}

.Offer {
	
	margin-bottom: 20px;
	
	&:hover {
		
		.OnBtn {
			color: #fff;
			opacity: 1;
		}
		
	}
	
	.OnBtn {
		position: absolute;
		z-index: 9999;
		right: 10px;
		bottom: 10px;
		text-transform: uppercase;
		opacity: 0.5;
		transition:all ease 0.3s;
		
	}

	.OfferPrices {
		padding-left: 0;
		position: relative;
		
		
		
		table {
			margin-top: 0px;
		}
		
		.price {
			color: #8CC63E;
			font-size: 16px;
			font-weight: bold;
			span {
				font-size: 12px;
			}
		}
	}

	.OfferImg {
		padding-right: 0;
		padding-top: 15px;
		padding-left: 30px;
		img {
			margin: 0 auto;
			border: 1px solid #f2f2f2;
		}
		
		.LandingLink {
			margin-top: 5px;
		}
		
	}
	
	.OfferInclude {
		background: #fff;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.1); 
		position: relative;
		z-index: 999;
	}
	
	.DescriptionMore {
		border-top: 1px solid #f2f2f2;
		margin: 0 5px;
		background: #fff;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
		position: relative;
		z-index: 900;
		border-radius: 0 0 3px 3px;
		
		.collapse  {
			border-bottom: 1px solid #f2f2f2;
			margin-bottom: 5px;
		}
		
		.CollapseInclude {
			padding: 15px;
			background: #f8f8f8;
			
			.tab-content {
				padding: 15px;
				border: 1px solid #ddd;
				border-top: none;
				background: #fff;
				min-height: 150px;
			}
			
		}
		
		.ShowHide {
			padding: 5px;
		}
		
		.btn {
			border: 1px solid #CCC;
			background: transparent linear-gradient(to top, #F2F2F2, #FFF) repeat scroll 0% 0%;
			border-radius: 50px;
			padding: 2px 5px;
			color: #ccc;
			
			.glyphicon {
				top: 2px;
				left: 1px;
			}
		
		}
		
	}
	
	.Description {
		padding-right: 0;
	}
	
	.DescriptionInclude {
		border-left: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;
		
		.Title {
			padding-left: 10px;
			padding-top: 15px;
						
			small  {
				margin-right: 10px;
				span {
					margin-right: 3px;
					
				}
				
			}
			
			h3 {
				margin-top: 0px;
				font-size: 18px;
			}
			
		}
		
	}
	
	table {
		margin-top: 20px;
		margin-bottom: 0;
	}
}

.Block {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);	
}

.BlockPadding {
	padding: 15px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	
	h5 {
		font-weight: bold;
		text-transform: uppercase;
	}
}


.Select {
	
	.btn {
		background: #fff;
		border:1px solid  #ccc;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
		color: #777;
		
		.caret {
			color: #ccc;
		}
	}
}

#custom-search-input{
    padding: 0px;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #ccc;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    border-radius: 0px;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 14px;
    color: #ccc;
}

.Sort {
	
	.text {
		float: left;
		margin-right: 10px;
		position: relative;
		top: 6px;
	}
	
	.Select {
		float: left;
	}
	.btn {
		float: right;
	}
	.UpDown {
		border: 1px solid #CCC;
		background: linear-gradient(to top, #F2F2F2, #FFF) repeat;
		color: #ccc;
		padding-left: 5px;
		padding-right: 5px;
		
		span {
			font-size: 12px;
		}
		
	}
}

.White {
	background: #fff;
	padding-top: 40px;
}

.Pacman {
	img {
		margin: 0 auto;
	}
}

.Bigtitle {
	h1 {
		font-family: 'Souses';
		font-size: 68px;
	}
	
}

.Subscribe {
	
	.container {
		margin-top: 0;
	}
	
	background: #eec401;
	padding-top:10px;
	padding-bottom: 10px;
	text-align: center;
	
	h4 {
		margin-top: 0;
		color: #fff;
		position: relative;
		top: 5px;
	}
	
	.btn {
		background: #323132;
	}
}

