@import url("http://webfonts.ru/import/souses.css");
body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f2f2f2; }

.bluebg {
  background: #e0eef4; }

h1, h3, h4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700; }

/*
*	Header & Navigation
*/
header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px -1px;
  position: relative; }

nav {
  float: left; }

b.count {
  color: #fff;
  background: #fd5e00;
  padding: 2px 8px;
  margin-left: 3px;
  border-radius: 3px; }

.navbar .devider {
  border-left: 1px solid #ccc;
  margin: 20px 0;
  width: 1px;
  height: 22px; }
.navbar .brand {
  margin-left: 0;
  text-shadow: none;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 10px;
  text-align: center;
  white-space: nowrap;
  float: left;
  font-size: 20px; }
.navbar .nav {
  position: inherit; }
  .navbar .nav .Green {
    color: #ccc; }
  .navbar .nav > li > a {
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    transition: all ease 0.2s; }
    .navbar .nav > li > a:hover {
      border-bottom: 2px solid #FD5E00;
      color: #FD5E00; }
  .navbar .nav > .active a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    border-bottom: 2px solid #FD5E00; }
    .navbar .nav > .active a:hover {
      color: inherit;
      text-decoration: none;
      background-color: transparent;
      box-shadow: none;
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      transition: background-color 0.5s; }
    .navbar .nav > .active a:focus {
      color: inherit;
      text-decoration: none;
      background-color: transparent;
      box-shadow: none;
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      transition: background-color 0.5s; }
.navbar .navbar-collapse {
  border-top: none;
  box-shadow: none;
  padding: 0;
  width: 100%; }

.navbar-toggle {
  height: 61px;
  margin: 0 auto;
  border: none;
  padding: 0 17px;
  border-radius: 0;
  background: #f2f2f2;
  border-left: 1px solid #f2f2f2; }
  .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 20px;
    height: 3px;
    box-shadow: none;
    border-radius: 0; }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4px; }

.basket {
  float: right;
  padding: 0 10px 0 10px;
  height: 60px; }
  .basket .basket-link {
    height: 41px;
    display: block; }
  .basket .basket-count {
    background: #38b5e6;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase; }
    .basket .basket-count .glyphicon {
      position: relative;
      top: 2px; }

#UserArea {
  margin: 0;
  list-style: none; }
  #UserArea i {
    font-style: normal; }
  #UserArea span.glyphicon {
    padding-right: 5px; }
  #UserArea .dropdown a {
    color: #38B5E6; }

/*
* Generic Elements 
*/
#product-board {
  margin: 0px auto;
  min-height: 800px; }

.NewsContainer {
  margin-top: 60px;
  margin-bottom: 20px; }

.jumbotron h1 {
  font-family: 'Souses';
  margin-bottom: 40px; }
  .jumbotron h1 a {
    border-bottom: 5px dotted #38B5E6;
    padding-bottom: 10px; }
  .jumbotron h1 p {
    margin-bottom: 20px; }

.offer {
  float: left;
  margin: 5px 1% 5px 1%;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid #eee; }
  .offer.medium {
    width: 47%; }
  .offer.large {
    width: 97%; }
  .offer .text {
    padding: 15px; }
    .offer .text h3 {
      margin-top: 0; }
  .offer .media {
    padding: 0px;
    border-bottom: solid 1px #efefef;
    position: relative; }
    .offer .media.media:hover .QuickView {
      opacity: 0.9; }
    .offer .media .QuickView {
      position: absolute;
      top: 54%;
      margin-top: -20px;
      z-index: 9;
      opacity: 0;
      padding: 0px;
      width: 100%; }
      .offer .media .QuickView .btn {
        border-radius: 0;
        background: #fff;
        color: #8CC63E; }
        .offer .media .QuickView .btn span {
          margin-right: 5px;
          position: relative;
          top: 3px; }
    .offer .media a {
      display: block;
      width: 100%;
      margin: 0 auto;
      position: relative;
      bottom: 0; }
      .offer .media a img.active {
        display: block; }
  .offer .plabel {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -5px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
    color: white; }
  .offer .details {
    padding: 10px 0;
    position: relative; }
    .offer .details p {
      margin: 0;
      font-size: 14px; }
      .offer .details p span.eCPC {
        display: block;
        font-weight: normal;
        font-size: 12px;
        margin-top: 5px; }
      .offer .details p span.Line {
        border-left: 2px solid #eec401;
        padding: 0 10px;
        display: block; }
      .offer .details p.name {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        min-height: 115px;
        padding-bottom: 10px; }
        .offer .details p.name a {
          color: #777; }
      .offer .details p.price {
        padding: 0 10px;
        position: relative;
        bottom: 3px; }
        .offer .details p.price .total {
          color: #8CC63E;
          font-weight: bold;
          font-size: 16px; }
        .offer .details p.price .cur {
          margin-left: 2px;
          font-size: 12px; }
  .offer .details-expand {
    position: absolute;
    display: none;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .offer .details-expand:hover {
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      transition: background-color 0.5s; }
    .offer .details-expand .glyphicon {
      font-size: 14px; }
  .offer.cta {
    text-align: center; }
    .offer.cta h3 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.5; }
    .offer.cta .content {
      margin: 10px; }
    .offer.cta .poff {
      text-transform: uppercase;
      line-height: 1;
      font-size: 40px; }

.container {
  padding: 0; }

.product-page .container.product-main {
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.2); }
.product-page .content {
  margin: 15px; }
.product-page h1 {
  margin-bottom: 0; }
.product-page .product-details-small {
  display: none; }
.product-page .pricing {
  margin: 15px 0; }
  .product-page .pricing .bigprice {
    font-size: 36px;
    margin-bottom: 0; }
    .product-page .pricing .bigprice small {
      font-size: 14px; }
    .product-page .pricing .bigprice .NewPrice {
      color: #8cc63e; }
  .product-page .pricing .cur {
    font-size: 18px; }
  .product-page .pricing .price {
    font-size: 18px;
    margin-bottom: 0; }
    .product-page .pricing .price .delivery {
      font-size: 12px; }
  .product-page .pricing .special {
    float: left;
    padding: 5px;
    box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0; }
.product-page .Sale {
  position: absolute;
  z-index: 999;
  background: #8CC63E;
  padding: 3px 15px; }
  .product-page .Sale b {
    color: #fff; }
.product-page .main-imgs {
  margin-bottom: 10px;
  position: relative; }
  .product-page .main-imgs img {
    border: 1px solid #eee; }
  .product-page .main-imgs .background {
    display: none; }
.product-page .form-inline.cart .btn {
  width: 100%; }
.product-page .tab-pane {
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px; }

.table-striped tbody > tr.cart-summary > td {
  background-color: #fff !important; }

.added-to-basket {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #14b602;
  line-height: 50px; }

.GoButton {
  background: #eec401;
  font-size: 36px;
  font-family: 'Souses';
  margin-top: 20px;
  border-radius: 100px;
  padding-left: 60px;
  padding-right: 60px;
  text-shadow: 0px 1px 2px #c78900; }
  .GoButton:hover {
    background: #eec401;
    color: #fff; }

footer {
  padding: 10px 0; }
  footer .slogan {
    color: #777;
    font-size: 13px; }
  footer .BottomFooter {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 20px; }
  footer .container {
    margin-top: 10px; }
  footer ul {
    padding-left: 0;
    list-style: none; }
    footer ul li {
      margin-bottom: 10px; }
    footer ul a {
      color: #000;
      text-transform: uppercase;
      font-weight: bold; }
      footer ul a:hover {
        color: #000; }
  footer .Phone {
    font-size: 24px;
    font-weight: bold; }
    footer .Phone b {
      color: #38B5E6; }
    footer .Phone a {
      font-size: 14px;
      color: #38B5E6; }
    footer .Phone span {
      display: block;
      font-size: 14px;
      opacity: 0.6;
      font-weight: normal; }
  footer p, footer form {
    text-align: center; }
  footer .col-sm-6 {
    margin-bottom: 25px; }
  footer .form-control {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }

.load-more-container {
  text-align: center; }
  .load-more-container .btn {
    text-transform: uppercase; }

/*
*	Animate items
*/
.masonry, .masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s; }

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top; }

label {
  font-weight: normal; }

.product-page .product-details-large {
  display: none; }

.product-page .product-details-small {
  display: block; }

.report {
  color: #000; }
  .report .glyphicon {
    top: 3px; }

@media (min-width: 520px) {
  .offer.medium {
    width: 31%; }
  .offer.large {
    width: 64%; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-toggle {
    display: none; }
  .navbar .nav {
    position: static; }
    .navbar .nav > li {
      float: left; }
  .navbar .navbar-collapse {
    width: auto; }
  #product-board {
    width: 724px;
    margin: 0px auto; }
  .load-more-container {
    width: 724px;
    margin: 20px auto; }
  .offer {
    margin: 5px; }
    .offer.medium {
      width: 31%; }
    .offer.large {
      width: 64%; }
  footer {
    border-top: 1px solid #eee; }
    footer p, footer form {
      text-align: left; }
    footer .col-sm-6 {
      margin-bottom: 0; }
    footer input[type="text"] {
      width: 80%;
      margin-bottom: 0; }
  body {
    padding-left: 0;
    padding-right: 0; }
  .product-page .product-details-large {
    display: block; }
    .product-page .product-details-large small a {
      color: #7dc31f;
      margin-right: 10px; }
    .product-page .product-details-large span.glyphicon-tags {
      margin-right: 5px;
      font-size: 10px; }
  .product-page .product-details-small {
    display: none; }
  .signin .form-control {
    width: auto; }
  #login-form input, #shipping-rates, #discount_code {
    width: auto; }
  #credit_card_month {
    margin-right: 3%;
    margin-bottom: 0; }
  #discount_code {
    margin-bottom: 0; }
  #credit_card_month, #credit_card_year {
    width: 47%;
    float: left; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #product-board {
    width: 900px;
    margin: 0px auto; }
  .load-more-container {
    width: 900px;
    margin: 20px auto; }
  .offer.large {
    width: 340px; }
  .offer.medium {
    width: 170px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #product-board {
    width: 1200px; }
  .load-more-container {
    width: 1200px; }
  .offer.large {
    width: 390px; }
  .offer.medium {
    width: 190px; } }

.InformBlock {
  text-align: center;
  padding: 20px 0 15px 0; }

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: white; }

#login-dp .help-block {
  font-size: 12px; }

#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px; }

#login-dp .social-buttons {
  margin: 12px 0; }

#login-dp .form-group {
  margin-bottom: 10px; }

.btn-fb {
  color: #fff;
  background-color: #3b5998; }

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc; }

.btn-tw {
  color: #fff;
  background-color: #55acee; }

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa; }

@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff; }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none; } }

.product-board #radioBtn {
  text-align: center;
  padding: 0px 0 15px 0;
  display: block; }
  .product-board #radioBtn a {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase; }
    .product-board #radioBtn a span.Triangle {
      border: 10px solid transparent;
      border-top: 10px solid #38B5E6;
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: -5px;
      display: none; }
  .product-board #radioBtn a.active span {
    display: block; }

.product-page .Recomended {
  margin-top: 20px; }

#radioBtn a {
  border: 1px solid #eee;
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
  background: #fff;
  transition: none; }
  #radioBtn a.active {
    background: #38B5E6;
    color: #fff; }

.MainButton {
  height: 45px;
  margin-bottom: 10px;
  margin-top: 20px; }
  .MainButton button {
    text-transform: uppercase; }

.btn-fresh {
  color: #fff;
  background-color: #8CC63E;
  border-bottom: 2px solid #648d2c;
  box-shadow: 1px 1px 5px #888888; }

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open > .dropdown-toggle.btn-fresh {
  color: #fff;
  background-color: #8CC63E;
  border-bottom: 2px solid #529f78;
  outline: none; }

.btn-fresh:active, .btn-fresh.active {
  color: #fff;
  outline: none;
  outline-offset: none;
  border-bottom: none;
  margin-top: 2px;
  box-shadow: 0px 0px 2px #888888; }

.Bigtitle {
  margin-bottom: 40px;
  margin-top: 20px; }

.product-board .PopInfo {
  margin: 0; }
  .product-board .PopInfo .PopBlock {
    text-align: left;
    margin-bottom: 15px; }
    .product-board .PopInfo .PopBlock p {
      padding-top: 30px;
      padding-left: 90px; }
      .product-board .PopInfo .PopBlock p b {
        display: block;
        text-transform: uppercase; }
    .product-board .PopInfo .PopBlock div {
      float: left; }

.lead {
  font-size: 18px;
  border-left: 2px solid #7dc31f;
  padding-left: 15px; }

.NewsBlock {
  background: #fff; }
  .NewsBlock h4 {
    margin-top: 13px; }
  .NewsBlock .Date {
    text-align: center;
    border: 1px solid #eee;
    padding-top: 5px; }
    .NewsBlock .Date span {
      display: block;
      box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1) inset;
      padding-bottom: 3px;
      padding-top: 2px;
      margin-top: 6px;
      background: #f9f9f9; }
  .NewsBlock .News {
    border-top: 1px dotted #eee;
    padding-top: 15px;
    margin-bottom: 10px; }
    .NewsBlock .News .col-md-9 {
      padding-left: 0; }
    .NewsBlock .News a {
      display: block;
      color: #777;
      font-size: 16px; }
      .NewsBlock .News a span {
        display: block; }
        .NewsBlock .News a span.New {
          color: #8CC63E; }

.PopInfo {
  text-align: center; }
  .PopInfo.inIndex {
    margin-bottom: 40px; }
    .PopInfo.inIndex .PopBlock {
      margin-bottom: 40px;
      margin-top: 0; }
      .PopInfo.inIndex .PopBlock p {
        padding-left: 110px;
        padding-top: 10px;
        color: #777;
        font-size: 16px; }
        .PopInfo.inIndex .PopBlock p b {
          font-size: 18px;
          margin-bottom: 10px; }
      .PopInfo.inIndex .PopBlock div {
        background: url("/img/bigsprite.png") no-repeat;
        box-shadow: none;
        border-radius: 0;
        width: 86px;
        height: 86px; }
      .PopInfo.inIndex .PopBlock .Exs {
        background-position: 0px 0px; }
      .PopInfo.inIndex .PopBlock .Manager {
        background-position: 0px -130px; }
      .PopInfo.inIndex .PopBlock .Stat {
        background-position: 0px -277px; }
      .PopInfo.inIndex .PopBlock .Pay {
        background-position: 0px -409px; }
      .PopInfo.inIndex .PopBlock .GoodPay {
        background-position: 0px -540px; }
      .PopInfo.inIndex .PopBlock .GoodPrice {
        background-position: 0px -679px; }
      .PopInfo.inIndex .PopBlock .Effect {
        background-position: 0px -794px; }
      .PopInfo.inIndex .PopBlock .NewAd {
        background-position: 0px -940px; }
      .PopInfo.inIndex .PopBlock .Wow {
        background-position: 0px -1073px; }
  .PopInfo .PopBlock {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px; }
    .PopInfo .PopBlock div {
      background: #f8f8f8 url("/img/sprite.png") no-repeat;
      box-shadow: inset 1px 3px 3px -1px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      margin: 10px auto;
      width: 80px;
      height: 80px; }
    .PopInfo .PopBlock .TryOn {
      background-position: 17px 20px; }
    .PopInfo .PopBlock .Delivery {
      background-position: 17px -81px; }
    .PopInfo .PopBlock .EasyPay {
      background-position: 18px -155px; }
    .PopInfo .PopBlock .Phone {
      background-position: 15px -240px; }

.modal-body .table td {
  border-top: 0px; }

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline; }

.social-network .skype a {
  position: relative;
  bottom: 10px;
  font-size: 14px;
  width: auto; }
  .social-network .skype a span {
    padding-left: 40px;
    text-transform: none;
    position: relative;
    bottom: 5px;
    color: #38b5e6; }

/* footer social icons */
.social-network a.icoRss {
  background: #F80 url("/img/soc.png") no-repeat 8px -115px; }

.social-network a.icoFacebook {
  background: url("/img/socsprite.png") no-repeat 5px 5px; }

.social-network a.icoTwitter {
  background: url("/img/socsprite.png") no-repeat 5px -89px; }

.social-network a.icoGoogle {
  background: url("/img/socsprite.png") no-repeat 5px -42px; }

.social-network a.icoLinkedin {
  background-color: #007bb7; }

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff; }

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 20px; }

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

#login-overlay .list-unstyled span {
  color: #8cc63e;
  margin-right: 5px; }
#login-overlay .list-unstyled a {
  color: #8cc63e; }

.Icons {
  position: absolute;
  top: 50%;
  left: -50px;
  margin-top: -150px; }
  .Icons ul {
    list-style: none; }
    .Icons ul li {
      display: block;
      height: 50px;
      width: 50px;
      background: #fff;
      border-radius: 50%;
      margin-bottom: 10px;
      border: 1px solid #ccc; }
      .Icons ul li.Delivery {
        background: url("/img/sprite2.png") no-repeat -17px -57px; }
      .Icons ul li.TryOn {
        background: url("/img/sprite2.png") no-repeat -17px -9px; }
      .Icons ul li.Pay {
        background: url("/img/sprite2.png") no-repeat -17px -102px; }
      .Icons ul li.Phone {
        background: url("/img/sprite2.png") no-repeat -17px -155px; }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500; }

#page-preloader .spinner {
  width: 184px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("/img/logo.png") no-repeat;
  margin: -27px 0 0 -92px; }

.Mail {
  font-size: 18px;
  color: #8CC63E; }
  .Mail span {
    position: relative;
    top: 4px; }

#OfferDescriptionTable tr td {
  border: none;
  font-size: 14px; }

.Question {
  border: 1px solid #ccc;
  background: linear-gradient(to top, #f2f2f2, #fff);
  padding: 2px 7px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 12px;
  color: #ccc; }

.PriceArea {
  border-top: 1px dotted #ccc;
  margin-top: 20px;
  padding-top: 10px; }

.LandingLink {
  margin-bottom: 10px;
  text-align: center; }
  .LandingLink a {
    color: #38B5E6; }

.GreyArea {
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 20px; }

#myTab {
  padding: 10px 15px 0 15px;
  background: #f8f8f8; }
  #myTab li a {
    font-weight: bold;
    text-transform: uppercase; }

.checkbox a {
  color: #38B5E6; }

.req span {
  color: #8CC63E; }

#TabContent {
  padding-top: 15px; }
  #TabContent .control-group {
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px; }
  #TabContent .controls {
    position: relative; }
    #TabContent .controls .glyphicon {
      position: absolute;
      top: -6px;
      font-size: 14px;
      left: -6px;
      color: #8CC63E; }
  #TabContent .form-horizontal .control-label {
    padding-bottom: 7px; }

.FaqContent {
  background: #fff;
  min-height: 600px;
  padding: 15px 60px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1); }
  .FaqContent .lead {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px; }
  .FaqContent .panel-group {
    margin-bottom: 40px; }

#RegModal .modal-body {
  padding: 0; }
#RegModal .tab-pane {
  border-bottom: none;
  margin-bottom: 10px; }

.ContactBlock .Support {
  text-align: left; }
  .ContactBlock .Support li {
    margin-bottom: 20px; }
  .ContactBlock .Support h4 {
    margin: 0 0 20px 0; }

.Support {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 20px; }
  .Support .Title {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 16px; }
  .Support .IconMail {
    background: url("/img/support.png") no-repeat;
    padding: 6px 0px 10px 40px;
    margin-right: 20px;
    border-right: 1px solid #eee;
    padding-right: 20px; }
  .Support .IconSkype {
    background: url("/img/support.png") no-repeat 0 -43px;
    padding: 6px 0px 10px 40px;
    margin-right: 20px;
    border-right: 1px solid #eee;
    padding-right: 20px; }
  .Support .IconPhone {
    background: url("/img/support.png") no-repeat 0 -85px;
    padding: 6px 0px 10px 40px; }

.Offer {
  margin-bottom: 20px; }
  .Offer:hover .OnBtn {
    color: #fff;
    opacity: 1; }
  .Offer .OnBtn {
    position: absolute;
    z-index: 9999;
    right: 10px;
    bottom: 10px;
    padding: 8px 20px;
    text-transform: uppercase;
    opacity: 0.5;
    transition: all ease 0.3s; }
  .Offer .OfferPrices {
    padding-left: 0;
    position: relative; }
    .Offer .OfferPrices table {
      margin-top: 0px; }
    .Offer .OfferPrices .price {
      color: #8CC63E;
      font-size: 16px;
      font-weight: bold; }
      .Offer .OfferPrices .price span {
        font-size: 12px; }
  .Offer .OfferImg {
    padding-right: 0;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px; }
    .Offer .OfferImg img {
      margin: 0 auto;
      border: 1px solid #f2f2f2; }
    .Offer .OfferImg .LandingLink {
      margin-top: 5px;
      font-size: 14px; }
  .Offer .OfferInclude {
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999; }
    .Offer .OfferInclude .Badges {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      color: #fff;
      padding: 0 15px; }
    .Offer .OfferInclude.New {
      border: 2px solid #7dc31f; }
      .Offer .OfferInclude.New .Badges {
        background: #7dc31f; }
    .Offer .OfferInclude.Exs {
      border: 2px solid #eec401; }
      .Offer .OfferInclude.Exs .Badges {
        background: #eec401; }
    .Offer .OfferInclude.Private {
      border: 2px solid #b30673; }
      .Offer .OfferInclude.Private .Badges {
        background: #b30673; }
    .Offer .OfferInclude.Soon {
      border: 2px solid #fd5e00; }
      .Offer .OfferInclude.Soon .Badges {
        background: #fd5e00; }
    .Offer .OfferInclude .Rate {
      text-align: center; }
      .Offer .OfferInclude .Rate img {
        border: none; }
    .Offer .OfferInclude .Only {
      font-size: 14px;
      text-align: center;
      margin-top: 5px; }
      .Offer .OfferInclude .Only span {
        background: url("/img/onlyformobile.png") no-repeat left center;
        padding-left: 18px;
        padding-top: 2px;
        padding-bottom: 2px; }
  .Offer .DescriptionMore {
    border-top: 1px solid #f2f2f2;
    margin: 0 5px;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 900;
    border-radius: 0 0 3px 3px; }
    .Offer .DescriptionMore .collapse {
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 5px; }
    .Offer .DescriptionMore .CollapseInclude {
      padding: 15px;
      background: #f8f8f8; }
      .Offer .DescriptionMore .CollapseInclude .tab-content {
        padding: 15px;
        border: 1px solid #ddd;
        border-top: none;
        background: #fff;
        min-height: 150px; }
    .Offer .DescriptionMore .ShowHide {
      padding: 5px; }
    .Offer .DescriptionMore .btn {
      border: 1px solid #CCC;
      background: transparent linear-gradient(to top, #F2F2F2, #FFF) repeat scroll 0% 0%;
      border-radius: 50px;
      padding: 2px 10px;
      color: #ccc;
      font-size: 14px; }
      .Offer .DescriptionMore .btn .glyphicon {
        top: 2px;
        left: 1px;
        font-size: 11px; }
  .Offer .Description {
    padding-right: 0; }
    .Offer .Description .News {
      padding-right: 30px; }
  .Offer .DescriptionInclude {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    min-height: 320px; }
    .Offer .DescriptionInclude .Title {
      padding-left: 10px;
      padding-top: 15px; }
      .Offer .DescriptionInclude .Title a {
        color: #777; }
      .Offer .DescriptionInclude .Title small {
        margin-right: 10px; }
        .Offer .DescriptionInclude .Title small span {
          margin-right: 3px; }
      .Offer .DescriptionInclude .Title h3 {
        margin-top: 0px;
        font-size: 20px;
        padding-right: 10px; }
  .Offer table {
    margin-top: 20px;
    margin-bottom: 0; }

.Block {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
  .Block .list-group .list-group-item {
    border-left: 3px solid #fff; }
    .Block .list-group .list-group-item.active {
      border-left: 3px solid #eec401; }
      .Block .list-group .list-group-item.active a {
        color: #000;
        font-weight: bold; }
    .Block .list-group .list-group-item a {
      color: #777; }

.BlockPadding {
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }
  .BlockPadding h5 {
    font-weight: bold;
    text-transform: uppercase; }

.Select .btn {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #000;
  font-weight: bold; }
  .Select .btn .caret {
    color: #ccc; }

#custom-search-input {
  padding: 0px;
  border: solid 1px #ccc;
  border-radius: 3px;
  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px; }

#custom-search-input input {
  border: 0;
  box-shadow: none;
  color: #ccc; }

#custom-search-input input[placeholder] {
  text-overflow: ellipsis;
  color: #ccc; }

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #ccc;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
  border-radius: 0px; }

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc; }

#custom-search-input .glyphicon-search {
  font-size: 14px;
  color: #ccc; }

.Sort .simpletext {
  float: right;
  margin-right: 10px;
  position: relative;
  top: 7px;
  margin-right: 5px; }
.Sort .Select {
  float: right;
  margin-right: 10px; }
.Sort .btn {
  float: right; }
.Sort .UpDown {
  border: 1px solid #CCC;
  background: linear-gradient(to top, #F2F2F2, #FFF) repeat;
  color: #ccc;
  padding-left: 5px;
  padding-right: 5px; }
  .Sort .UpDown span {
    font-size: 10px; }
    .Sort .UpDown span.glyphicon-arrow-down {
      position: relative;
      left: -1px; }
    .Sort .UpDown span.glyphicon-arrow-up {
      position: relative;
      right: -1px; }

.White {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px; }

.circliful {
  position: relative;
  margin: 0 auto; }

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block; }

.circle-info, .circle-info-half {
  color: #999; }

.circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px; }

.circle-container {
  text-align: center; }

.Registr {
  min-height: 250px;
  background: #fff;
  padding: 20px; }
  .Registr h4 {
    font-family: 'Souses';
    font-size: 24px;
    margin-bottom: 40px; }
  .Registr p {
    margin-bottom: 40px;
    font-size: 16px; }

.RegBlock .RegForm {
  border: 1px solid #ddd;
  background: #fff; }
.RegBlock ul.List {
  margin-bottom: 40px; }
  .RegBlock ul.List li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px; }
    .RegBlock ul.List li span {
      color: #7DC31F;
      position: absolute;
      left: 0px; }

.circle-container h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal; }

.Pacman img {
  margin: 0 auto; }

.Subscribe {
  background: #eec401;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .Subscribe .container {
    margin-top: 0; }
  .Subscribe h4 {
    margin-top: 0;
    color: #fff;
    position: relative;
    top: 5px; }
  .Subscribe .btn {
    background: #323132; }
