<div id="owl-demo" class="owl-carousel">
	<div class="item"><img src="img/sample.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample2.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample3.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample4.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample5.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample2.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample3.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample4.jpg" class="img-responsive" alt="sample" /></div>
	<div class="item"><img src="img/sample5.jpg" class="img-responsive" alt="sample" /></div>
</div>