<div  class="container">
<div class="row">
<div class="col-sm-12">
	<ul id="FilterBlock" data-spy="affix" data-offset-top="90" data-offset-bottom="200" class="nav navbar">
			<li class="Title"><p>Фильтр:</p></li>
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Стиль</b> <span class="caret"></span></a>
         	 
			<ul  class="dropdown-menu">
				<li> 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Вискоза
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Шерсть
					   		 </label>
					   	</div><!--checkbox-->
					</form>
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Бренд</b> <span class="caret"></span></a>
         	 
			<ul  class="dropdown-menu">
				<li> 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Вискоза
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Шерсть
					   		 </label>
					   	</div><!--checkbox-->
					</form>
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Материал</b> <span class="caret"></span></a>
         	 
			<ul  class="dropdown-menu">
				<li> 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Вискоза
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Шерсть
					   		 </label>
					   	</div><!--checkbox-->
					</form>
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Размер</b> <span class="caret"></span></a>
         	 
			<ul  class="dropdown-menu">
				<li> 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Вискоза
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Шерсть
					   		 </label>
					   	</div><!--checkbox-->
					</form>
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Сезон</b> <span class="caret"></span></a>
         	 
			<ul  class="dropdown-menu">
				<li> 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Вискоза
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> Шерсть
					   		 </label>
					   	</div><!--checkbox-->
					</form>
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Цвет</b> <span class="caret"></span></a>
         	 
			<ul  class="dropdown-menu">
				<li> 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> <span class="Red" ></span>Красный
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"> <span class="Blue" ></span>Синий
					   		 </label>
					   	</div><!--checkbox-->
					   	<div class="checkbox">
					   		 <label>
					   		 <input type="checkbox"><span class="Yellow" ></span>Желтый
					   		 </label>
					   	</div><!--checkbox-->
					</form>
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			<li class="dropdown">
         	 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><b>Цена</b> <span class="caret"></span></a>
         	 
			<ul class="dropdown-menu PriceChoose">
				<li>
				 								
					<form class="form" role="form" method="post" action="filter" accept-charset="UTF-8">
					   	<div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">

</div>
						<span id="skip-value-lower" class="example-val">1000<span class="cur">&#8381;</span></span>
						<span id="skip-value-upper" class="example-val">5000<span class="cur">&#8381;</span></span>
					</form>
					
					<p class="divider"></p>
					<button class="btn">Применить</button>
				</li>
				
			</ul><!--dropdown-menu-->
        </li>
			<!--<li class="CheckFilter">
         	 <a href="#" ><b>Цена: 3500 - 5 000</b> <span class="glyphicon glyphicon-remove"></span></a>
			</li>-->
		</ul>
</div><!--col-sm-12-->
</div><!--row-->
</div><!--container-->
