<div class="offer medium cat-2">
			<div class="media">

				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Школа английского языка SAY YES и специальные курсы для для детей 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>
<div class="offer medium cat-3">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Школа английского языка 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>		
<div class="offer medium cat-1">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-3.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Запатентованные шестеренки вашей мечты! 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>										
<div class="offer medium cat-2">
			<div class="media">
			
			<!--<div class="QuickView text-center">
					<button class="btn btn-block"  data-toggle="modal" data-target=".bs-example-modal-lg" ><span class="glyphicon glyphicon-eye-open"></span>подробнее</button>
				</div><!--QuickView-->
			
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Запатентованные шестеренки вашей мечты! 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>
<div class="offer medium cat-2">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Школа английского языка SAY YES и специальные курсы для для детей 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>
<div class="offer medium cat-3">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Школа английского языка 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>		
<div class="offer medium cat-1">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-3.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Запатентованные шестеренки вашей мечты! 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>										
<div class="offer medium cat-2">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Запатентованные шестеренки вашей мечты! 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>
<div class="offer medium cat-2">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-1.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Школа английского языка SAY YES и специальные курсы для для детей 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>
<div class="offer medium cat-3">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-2.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Школа английского языка 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>		
<div class="offer medium cat-1">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-3.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Запатентованные шестеренки вашей мечты! 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>										
<div class="offer medium cat-2">
			<div class="media">
			
			
			
				<a href="product.php" title="product title">
					<img src="img/product-4.jpg" alt="product title" data-img="product-1" class="img-responsive" />
				</a>
				
								
			</div>
			<div class="details">
				<p class="name">
					<span class="Line">
					<a href="product.php">Запатентованные шестеренки вашей мечты! 
					<span class="eCPC">eCPC: 20 руб</span>
					</a>
					</span>
				</p>
				<p class="price">Награда: <span class="total">2500</span><span class="glyphicon glyphicon-ruble"></span></p>
				<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="details-expand" ><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
			
		</div>				