
<div class="modal fade bs-modal-sm" id="RegModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Зарегистрироваться</h4>
      </div>
        
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#webmasters" data-toggle="tab">Для вэбмастеров</a></li>
              <li class=""><a href="#mediamasters" data-toggle="tab">Для рекламодателей</a></li>
              
            </ul>
        
      <div class="modal-body">
        <div id="TabContent" class="tab-content">
       
        <div class="tab-pane fade active in" id="webmasters">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Ваше имя:</label>
              <div class="controls">
              	<span class="glyphicon glyphicon-asterisk"></span>
                <input id="Name" name="Name" class="form-control" type="text" placeholder="Введите имя" class="input-large" required="">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Ваш Email:</label>
              <div class="controls">
              	<span class="glyphicon glyphicon-asterisk"></span>
                <input id="Email" name="Email" class="form-control" type="text" placeholder="Введите e-mail" class="input-large" required="">
              </div>
            </div>
            
                        
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Пароль (не менее 6 символов. Должен включать заглавные буквы и символы)</label>
              <div class="controls">
              	<span class="glyphicon glyphicon-asterisk"></span>
                <input id="password" name="password" class="form-control" type="password" placeholder="" class="input-large" required="">
              
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Повторите пароль:</label>
              <div class="controls">
              	<span class="glyphicon glyphicon-asterisk"></span>
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="" class="input-large" required="">
              </div>
            </div>
            
            
           <div class="GreyArea">
           
           	 <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Skype/icq/Телефон:</label>
              <div class="controls">
                <input id="Phone" class="form-control" name="Phone" type="text" placeholder="" class="input-large" >
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Кошелек WMR:</label>
              <div class="controls">
                <input id="Pay" class="form-control" name="Pay" type="text" placeholder="" class="input-large" >
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Промо-код <span class="Question" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Время на которое пользователь будет привязан к сессии">?</span></label>
              <div class="controls">
              	
                <input id="Code" class="form-control" name="Code" type="text" placeholder="" class="input-large" >
              </div>
            </div>
           
           </div><!--GreyArea-->
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              
              	<p class="req"><sup><span class="glyphicon glyphicon-asterisk"></span></sup> поля обязательные для заполнения</p>
              	<div class="checkbox">
	              	<label>
	              	  <input type="checkbox" value="">
	              	  Я согласен(a) с <a href="#">правилами площадки</a>
	              	</label>
	              </div>
	              <br>
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Зарегистрироваться</button>
              
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="mediamasters">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Ваше имя:</label>
              <div class="controls">
                <input id="Name" name="Name" class="form-control" type="text" placeholder="Введите имя" class="input-large" required="">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="Email">Ваш Email:</label>
              <div class="controls">
                <input id="Email" name="Email" class="form-control" type="text" placeholder="Введите e-mail" class="input-large" required="">
              </div>
            </div>
            
                        
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Пароль (не менее 6 символов. Должен включать заглавные буквы и символы)</label>
              <div class="controls">
                <input id="password" name="password" class="form-control" type="password" placeholder="" class="input-large" required="">
              
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Повторите пароль:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="" class="input-large" required="">
              </div>
            </div>
            
            
           <div class="GreyArea">
           
           	 <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Skype/icq/Телефон:</label>
              <div class="controls">
                <input id="Phone" class="form-control" name="Phone" type="text" placeholder="" class="input-large" >
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Кошелек WMR:</label>
              <div class="controls">
                <input id="Pay" class="form-control" name="Pay" type="text" placeholder="" class="input-large" >
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Промо-код <span class="Question" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Время на которое пользователь будет привязан к сессии">?</span></label>
              <div class="controls">
                <input id="Code" class="form-control" name="Code" type="text" placeholder="" class="input-large" >
              </div>
            </div>
           
           </div><!--GreyArea-->
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Зарегистрироваться</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div><!--tab-pane-->
    </div>
      </div><!--modal-body-->
      
    </div>
  </div>
</div>

<div class="modal fade" id="InBasketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Товар добавлен в корзину</h4>
          </div>
          <div class="modal-body">
          	<form action="shopping-cart.php" method="post" class="shopping-cart">
              <table class="table">
							<tr>
								<td class="img"><img src="img/product-1-mini.jpg" alt="" /></td>
								<td class="name"><a href="product.html">Платье Ksenia Knyazeva</a></td>
								<td class="size"><span class="size-small">M</span></td>
								<td class="quantity-cell"><span>1</span></td>
								<td class="sub-total"><span class="total">2500</span><span class="cur">&#8381;</span></td>
							</tr>
												
								
						</table>
          	</form>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Продолжить покупки</button>
        <button type="button" class="btn btn-primary">Оформить заказ</button>
      </div>
      </div>
  </div>
</div><!--SizeModal-->

<!--<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
  	<div class="product-page">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Платья</h4>
          </div>
          <div class="modal-body">
          	<div class="product-main">
             <div class="row">

			<div class="col-sm-6">
				<div class="content">
					<div class="Sale">
							<span class="glyphicon glyphicon-certificate"><b>20%</b></span>
						</div>
					<div class="main-imgs clearfix">
						
						<a href="img/product-1.jpg" title="Одежда"><img id="img1" src="img/product-1.jpg" alt="BeachFront Frog swimsuit" class="main-img img-responsive" /></a>
						<a href="img/product-2.jpg" title="Одежда"><img id="img2" src="img/product-2.jpg" alt="BeachFront Frog swimsuit" class="main-img img-responsive background" /></a>
						<a href="img/product-1.jpg" title="Одежда"><img id="img3" src="img/product-2.jpg" alt="BeachFront Frog swimsuit" class="main-img img-responsive background" /></a>
						<a href="img/product-2.jpg" title="Одежда"><img id="img4" src="img/product-2.jpg" alt="BeachFront Frog swimsuit" class="main-img img-responsive background" /></a>
						
					</div><!--main-imgs-->
					
					<ul class="alternate-images clearfix">
						<li><a href="#" data-img="img1"><img src="img/product-1-mini.jpg" alt="" /></a></li>
						<li><a href="#" data-img="img2"><img src="img/product-2-mini.jpg" alt="" /></a></li>
						<li><a href="#" data-img="img3"><img src="img/product-1-mini.jpg" alt="" /></a></li>
						<li><a href="#" data-img="img4"><img src="img/product-2-mini.jpg" alt="" /></a></li>
					</ul><!--alternate-images-->
				</div><!--content-->
			</div> <!--col-sm-4-->
			<div class="col-sm-6">
				<div class="content">
					
					<!-- Product information for large screens -->
					<div class="product-details-large">
						<!-- Product name and manufacturer -->
						<h1>Платье ZURI MAXI DRESS</h1>
						<small>Бренд:<a href=""> ECCO</a></small>
						<small>Категория:<a href=""> Джинсовые платья</a></small>
						<div class="pricing clearfix">
							<p class="bigprice"><span class="total">3 599</span><span class="cur">&#8381;</span></p>
							
						</div><!--pricing-->						
						<form class="form-inline clearfix cart" action="#">
						
						<div class="input-group">
							<div id="radioBtn" class="btn-group">
								размер: 
								<a class="notActive" data-toggle="size" data-title="Y">46</a>
								<a class="notActive" data-toggle="size" data-title="X">48</a>
								<a class="notActive" data-toggle="size" data-title="Z">50</a>
								<a class="notActive" data-toggle="size" data-title="W">52</a>
								<a class="notActive" data-toggle="size" data-title="N">54</a>
							</div>
							<input type="hidden" name="size" id="size">
						</div>
						
						<div class="MainButton">							
						<button data-toggle="modal" data-target="#InBasketModal" type="button" class="btn btn-fresh text-uppercase btn-lg">В корзину</button>
						</div>
						
						<div data-toggle="modal" data-target="#OneClickModal" class="OneClick"><i><span class="glyphicon glyphicon-hourglass"></span> Купить в один клик</i></div>
						
					</form><!--form-inline-->
						<table class="table table-striped table-bordered">
							<tr>
								<td>Состав</td>
								<td>Полиэстер - 92%, Эластан - 8%</td>
							</tr>
							<tr>
								<td>Цвет</td>
								<td>зеленый</td>
							</tr>
							<tr>
								<td>Сезон</td>
								<td>Лето</td>
							</tr>
							<tr>
								<td>Коллекция</td>
								<td>Весна-лето </td>
							</tr>
							<tr>
								<td>Детали одежды</td>
								<td>бахрома/кисточки, пояс/ремень</td>
							</tr>
							<tr>
								<td>Артикул</td>
								<td>LO019EWDPG39</td>
							</tr>
						</table>					
					</div><!--product-details-large-->
			</div> <!--content-->
			
			</div> <!--col-sm-8-->

		</div> <!--row-->
          	</div> <!--product-main-->
          </div>
      </div>
  	</div>  
  </div>
</div><!--RegModal-->



<div class="modal fade" id="CallMe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Обратный звонок</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                              <div class="form-group">
                                  <label for="username" class="control-label">Ваше имя</label>
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Пожалуйста введите свое имя" placeholder="">
                                  <span class="help-block"></span>
                              </div>
                              
                              
                              
                              <div class="form-group">
                                  <label for="email" class="control-label">Введите на какой телефон вам перезвонить</label>
                                  <input type="text" class="form-control" id="phone" name="phone" value="" required="" title="Пожалуйста, введите телефон" placeholder="введите телефон">
                                  <span class="help-block"></span>
                              </div>

                              <button type="submit" class="btn btn-success btn-block">Отправить</button>
                              
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Что произойдет после отправки этого сообщения?<span class="text-success"></span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="glyphicon glyphicon-ok" ></span>Наш менеджер свяжется с вами в течение 15 минут</li>
                          <li><span class="glyphicon glyphicon-ok"></span>Ответит на ваши вопросы</li>
                          <li><span class="glyphicon glyphicon-ok" ></span>Задаст свои</li>
                          <li><span class="glyphicon glyphicon-ok" ></span>Чем все это закончиться одному Богу известно</li>
                          
                          <li><a href="/read-more/"><u>Подробнее</u></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!--OneClickModal-->



<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="Введите запрос" />
        <button type="submit" class="btn btn-primary">Искать</button>
    </form>
</div>