<header  class="navbar navbar-fixed-top clearfix">
	<a class="current brand" href="index.php"><img class="hidden-xs" src="../img/logo.png" alt="logo" width="174" height="37" /><img class="hidden-sm hidden-md hidden-lg" src="../img/logomobil.png" alt="logomobil" width="124" height="26" /></a>
	
	
	
	<button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
		
	<nav class="navbar-collapse collapse" id="main-nav">
		
		<ul class="nav">
			<li><a href="web.php" >Вэбмастерам</a></li>
			<li><a href="web.php" >Рекламодателям</a></li>
			<li><a href="catalog.php" >Офферы <b class="count">132</b></a></li>
			<li class="dropdown">
			<a data-toggle="dropdown" class="Green" href="#" class="top-level">Информация <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" >
		
		<li role="presentation"><a role="menuitem" tabindex="1" href="faq.php">Правила сети</a></li>
		<li role="presentation"><a role="menuitem" tabindex="1" href="faq.php">Описание</a></li>
		
	</ul>
			</li>
			<li><a class="Green" href="news.php" class="top-level">Новости</a></li>
			<li><a class="Green" href="catalog.php" class="top-level">Контакты</a></li>
													
		</ul><!--ul-nav-->
		
		
	</nav><!--/.nav-collapse -->
	<div id="nav-basket" class="basket">
		<a href="#" data-toggle="modal" data-target="#RegModal" class="basket-link">
			<div class="basket-count"><span class="glyphicon glyphicon-off"></span> <span class="hidden-xs hidden-sm">регистрация</span></div>
		</a><!--basket-link-->
		
	</div><!--#nav-basket-->
	
	<ul id="UserArea" class="nav navbar-right hidden-sm hidden-xs">
		
        
        <li class="dropdown">
         	 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="hidden-md hidden-sm hidden-xs">Вход</b> </a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Вход через соц.сети
								<div class="social-buttons">
									<ul class="social-network social-circle">
                       
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        
                    </ul>
								</div>
                                или
								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											 <label class="sr-only" for="exampleInputEmail2">Введите e-mail</label>
											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email " required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="exampleInputPassword2">Пароль</label>
											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Пароль" required>
                                             <div class="help-block text-right"><a href="">Забыли пароль?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Войти</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> запомнить меня
											 </label>
										</div>
								 </form>
							</div><!--col-md-12-->
							<div class="bottom text-center">
								Впервые здесь? <a data-toggle="modal" data-target="#RegModal" href="#"><b>Присоединяйтесь</b></a>
							</div>
					 </div><!--row-->
				</li>
			</ul><!--login-dp-->
        </li>
        
		</ul><!--navbar-right-->
</header>


	
	