/* line 33, ../../sass/april/shopfrog-green.scss */
a {
  color: #777;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

/* line 38, ../../sass/april/shopfrog-green.scss */
a:hover {
  color: #8cc63e;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

/* line 45, ../../sass/april/shopfrog-green.scss */
body {
  background: #f9f9f9;
  color: #777;
}

/* line 50, ../../sass/april/shopfrog-green.scss */
.navbar {
  background-color: #fff;
}
/* line 54, ../../sass/april/shopfrog-green.scss */
.navbar .brand {
  background-color: #323132;
}
/* line 61, ../../sass/april/shopfrog-green.scss */
.navbar .nav > li > a {
  color: #323132;
}
/* line 64, ../../sass/april/shopfrog-green.scss */
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: #fff;
  color: #323132;
}
/* line 72, ../../sass/april/shopfrog-green.scss */
.navbar .nav > li.activehover > a {
  background-color: #e8f3d8;
  color: #323132;
}
/* line 80, ../../sass/april/shopfrog-green.scss */
.navbar .nav > .active a {
  color: #4f572d;
}
/* line 83, ../../sass/april/shopfrog-green.scss */
.navbar .nav > .active a:hover, .navbar .nav > .active a:focus {
  color: #4f572d;
}

/* line 93, ../../sass/april/shopfrog-green.scss */
.submenu-container {
  background-color: #fff;
}
/* line 97, ../../sass/april/shopfrog-green.scss */
.submenu-container .submenu {
  background-color: #f8f8f8;
}
/* line 101, ../../sass/april/shopfrog-green.scss */
.submenu-container .submenu a .price {
  color: #777;
}
/* line 107, ../../sass/april/shopfrog-green.scss */
.submenu-container .submenu li.active, .submenu-container .submenu li:hover {
  background-color: #e8f3d8;
}
/* line 116, ../../sass/april/shopfrog-green.scss */
.submenu-container .submenu-preview a.drop-link {
  background: #323132;
  color: white;
}

/* line 124, ../../sass/april/shopfrog-green.scss */
.basket {
  background-color: #323132;
}
/* line 127, ../../sass/april/shopfrog-green.scss */
.basket .basket-count {
  color: #4f572d;
}

/* line 134, ../../sass/april/shopfrog-green.scss */
.product .description a {
  color: #777;
}
/* line 139, ../../sass/april/shopfrog-green.scss */
.product .details-expand {
  color: #fff;
  background-color: #8cc63e;
}
/* line 143, ../../sass/april/shopfrog-green.scss */
.product .details-expand:hover {
  background-color: #323132;
}
/* line 147, ../../sass/april/shopfrog-green.scss */
.product .details-expand.expanded {
  background-color: #323132;
}
/* line 152, ../../sass/april/shopfrog-green.scss */
.product.cta {
  color: #323132;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 156, ../../sass/april/shopfrog-green.scss */
.product.cta.alt {
  background-color: #8cc63e;
  color: #fff;
}
/* line 160, ../../sass/april/shopfrog-green.scss */
.product.cta.alt a, .product.cta.alt a:hover {
  color: #fff;
  display: block;
}
/* line 165, ../../sass/april/shopfrog-green.scss */
.product.cta.alt:hover {
  background-color: #87944d;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 172, ../../sass/april/shopfrog-green.scss */
.product .plabel {
  background-color: #323132;
  opacity: 0.8;
}

/* line 179, ../../sass/april/shopfrog-green.scss */
.btn {
  background-color: #8cc63e;
}
/* line 182, ../../sass/april/shopfrog-green.scss */
.btn:hover, .btn:focus {
  background-color: #323132;
}

/* line 188, ../../sass/april/shopfrog-green.scss */
.pricing .special {
  background-color: #323132;
  color: #fff;
}

/* line 194, ../../sass/april/shopfrog-green.scss */
.top-contrib {
  background-color: #323132;
  color: #fff;
}

/* line 199, ../../sass/april/shopfrog-green.scss */
.quantity {
  color: #fff;
  background-color: #8cc63e;
}
/* line 203, ../../sass/april/shopfrog-green.scss */
.quantity:hover {
  background-color: #323132;
  color: #fff;
}

/* line 211, ../../sass/april/shopfrog-green.scss */
.navbar .navbar-toggle:hover {
  color: #fff;
  background-color: #e8f3d8;
}
/* line 214, ../../sass/april/shopfrog-green.scss */
.navbar .navbar-toggle:hover .icon-bar {
  color: #fff;
}

/* line 223, ../../sass/april/shopfrog-green.scss */
.collection-page .board-filters a.filter-hidden,
.collection-page .board-links a.filter-hidden {
  background-color: #8cc63e;
  color: #fff;
  border-color: #323132;
}

/* line 231, ../../sass/april/shopfrog-green.scss */
.btn-atc {
  background-color: #ffc247;
  color: #fff;
  text-shadow: 1px 1px 1px #c28100;
  box-shadow: 1px 1px 1px #c28100;
}
/* line 237, ../../sass/april/shopfrog-green.scss */
.btn-atc:hover {
  background-color: #ffaa00;
}
/* line 240, ../../sass/april/shopfrog-green.scss */
.btn-atc.qadd {
  box-shadow: none;
}
