/* line 35, ../../sass/april/shopfrog.scss */
body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 42, ../../sass/april/shopfrog.scss */
.cta h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* line 47, ../../sass/april/shopfrog.scss */
h1,
h3,
h4 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

/* line 54, ../../sass/april/shopfrog.scss */
a, a:hover, a:focus {
  text-decoration: none;
}

/*
*	Header & Navigation
*/
/* line 62, ../../sass/april/shopfrog.scss */
header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px -1px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

/* line 68, ../../sass/april/shopfrog.scss */
nav {
  float: left;
}

/* line 74, ../../sass/april/shopfrog.scss */
.navbar .brand {
  margin-left: 0;
  text-shadow: none;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 10px;
  width: 200px;
  text-align: center;
  white-space: nowrap;
  float: left;
  font-size: 20px;
}
/* line 87, ../../sass/april/shopfrog.scss */
.navbar .nav {
  position: inherit;
}
/* line 91, ../../sass/april/shopfrog.scss */
.navbar .nav > li > a {
  text-transform: uppercase;
  padding: 20px;
  text-shadow: none;
  font-size: 14px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 101, ../../sass/april/shopfrog.scss */
.navbar .nav > .active a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 108, ../../sass/april/shopfrog.scss */
.navbar .nav > .active a:hover {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 115, ../../sass/april/shopfrog.scss */
.navbar .nav > .active a:focus {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 127, ../../sass/april/shopfrog.scss */
.navbar .navbar-collapse {
  border-top: none;
  box-shadow: none;
  padding: 0;
  width: 100%;
}

/* line 135, ../../sass/april/shopfrog.scss */
.submenu-container {
  display: none;
  background: #e8f3d8;
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
}
/* line 143, ../../sass/april/shopfrog.scss */
.submenu-container .submenu {
  list-style-type: none;
  margin: 0;
  width: 200px;
  text-align: right;
  padding: 10px 0;
  height: 440px;
}
/* line 152, ../../sass/april/shopfrog.scss */
.submenu-container .submenu li {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 155, ../../sass/april/shopfrog.scss */
.submenu-container .submenu li:hover {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 159, ../../sass/april/shopfrog.scss */
.submenu-container .submenu li.active {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 162, ../../sass/april/shopfrog.scss */
.submenu-container .submenu li.active .submenu-preview {
  display: block;
}
/* line 168, ../../sass/april/shopfrog.scss */
.submenu-container .submenu a {
  width: 100%;
  display: block;
  padding: 5px 10px 5px 0;
  margin-left: -10px;
}
/* line 176, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview {
  display: none;
  list-style: none;
  margin: 0;
  width: 750px;
  position: absolute;
  top: 0px;
  height: auto;
  left: 205px;
  right: auto;
  text-align: left;
  padding: 18px 0 0 10px;
}
/* line 189, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li:hover {
  background: none;
}
/* line 193, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview h4 {
  border-bottom: 1px dotted #eee;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}
/* line 200, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu {
  float: left;
  margin-right: 20px;
}
/* line 204, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu:hover {
  background: none;
}
/* line 207, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu ul {
  padding: 0;
}
/* line 210, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu ul li:hover {
  background: none;
}
/* line 213, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu ul p {
  margin-bottom: 0px;
  color: #ccc;
}
/* line 219, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu a {
  margin: 0px;
  padding: 5px 0;
}
/* line 223, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupMenu a:hover {
  background: none;
}
/* line 231, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupItems a {
  display: block;
  text-align: center;
  padding: 10px;
  background: #fff;
  margin: 0;
}
/* line 239, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupItems a img {
  margin: 0 auto;
}
/* line 245, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupItems:hover {
  background: none;
}
/* line 249, ../../sass/april/shopfrog.scss */
.submenu-container .subsubmenu-preview li.GroupItems ul {
  float: left;
  padding-left: 0;
  margin-right: 10px;
}
/* line 258, ../../sass/april/shopfrog.scss */
.submenu-container .submenu-preview {
  display: none;
  list-style-type: none;
  margin: 0;
  height: 440px;
  position: absolute;
  top: 0px;
  left: 200px;
  width: 200px;
  padding: 10px 0;
  border-right: 1px solid #d1e8b1;
}
/* line 271, ../../sass/april/shopfrog.scss */
.submenu-container .submenu-preview li {
  display: block;
}
/* line 276, ../../sass/april/shopfrog.scss */
.submenu-container .submenu-preview a {
  display: block;
  padding: 5px 10px 5px 0;
  margin: 0px 5px;
  width: 100%;
  text-align: left;
}
/* line 283, ../../sass/april/shopfrog.scss */
.submenu-container .submenu-preview a.drop-link {
  height: 230px;
  padding: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}
/* line 292, ../../sass/april/shopfrog.scss */
.submenu-container .submenu-preview a p {
  margin: 0;
}
/* line 296, ../../sass/april/shopfrog.scss */
.submenu-container .submenu-preview a img {
  padding-bottom: 5px;
}

/* line 303, ../../sass/april/shopfrog.scss */
.navbar-toggle {
  height: 60px;
  margin: 0 auto;
  border: none;
  padding: 0 20px;
  border-radius: 0;
}
/* line 310, ../../sass/april/shopfrog.scss */
.navbar-toggle .icon-bar {
  background-color: #fff;
  width: 20px;
  height: 3px;
  box-shadow: none;
  border-radius: 0;
}
/* line 316, ../../sass/april/shopfrog.scss */
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

/*
* Header basket
*/
/* line 327, ../../sass/april/shopfrog.scss */
.basket {
  float: right;
  padding: 0 20px;
  height: 61px;
}
/* line 332, ../../sass/april/shopfrog.scss */
.basket .basket-link {
  height: 60px;
  display: block;
}
/* line 337, ../../sass/april/shopfrog.scss */
.basket .basket-count {
  width: 41px;
  background: url(/img/basket.png) center center no-repeat;
  padding: 25px 0 10px 0;
  text-align: center;
  font-size: 10px;
  margin-top: 3px;
}
/* line 346, ../../sass/april/shopfrog.scss */
.basket .submenu-container {
  height: 250px;
}
/* line 349, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview {
  display: block;
  right: 10px;
  height: auto;
  left: auto;
  padding: 10px 0;
  width: 100%;
  border: none;
}
/* line 359, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview a.drop-link {
  display: table-cell;
}
/* line 363, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview a {
  margin-bottom: 0;
  float: right;
  display: block;
  width: auto;
  text-align: center;
}
/* line 370, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview a.basket-item {
  background: #fff;
  position: relative;
}
/* line 375, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview a span.remove-basket-item {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
}
/* line 385, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview a p {
  max-width: 117px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 392, ../../sass/april/shopfrog.scss */
.basket .submenu-container .submenu-preview a .cur {
  margin-left: 3px;
  font-size: 12px;
}

/* line 402, ../../sass/april/shopfrog.scss */
#UserArea {
  float: right;
  height: 60px;
  line-height: 60px;
  color: #fff;
}
/* line 409, ../../sass/april/shopfrog.scss */
#UserArea button {
  background: none;
}
/* line 412, ../../sass/april/shopfrog.scss */
#UserArea button span {
  border-right: 1px solid #fff;
  padding-right: 10px;
  color: #323132;
}
/* line 416, ../../sass/april/shopfrog.scss */
#UserArea button span i {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  padding-left: 5px;
  position: relative;
  bottom: 2px;
}

/*
* Generic Elements 
*/
/* line 431, ../../sass/april/shopfrog.scss */
#product-board {
  margin: 20px auto;
}

/* line 435, ../../sass/april/shopfrog.scss */
.product {
  float: left;
  margin: 5px 1% 5px 1%;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  position: relative;
  border: 1px solid #eee;
}
/* line 446, ../../sass/april/shopfrog.scss */
.product.medium {
  width: 47%;
}
/* line 449, ../../sass/april/shopfrog.scss */
.product.large {
  width: 97%;
}
/* line 453, ../../sass/april/shopfrog.scss */
.product .text {
  padding: 15px;
}
/* line 456, ../../sass/april/shopfrog.scss */
.product .text h1 {
  margin-top: 0;
}
/* line 461, ../../sass/april/shopfrog.scss */
.product .media {
  padding: 5px 5px 0 5px;
  border-bottom: solid 1px #efefef;
  position: relative;
}
/* line 466, ../../sass/april/shopfrog.scss */
.product .media a {
  display: block;
  width: 100%;
  margin: 0 auto;
}
/* line 473, ../../sass/april/shopfrog.scss */
.product .plabel {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: -5px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
  color: white;
}
/* line 486, ../../sass/april/shopfrog.scss */
.product .details {
  background-color: #f6f6f6;
  padding: 10px 0;
  position: relative;
}
/* line 491, ../../sass/april/shopfrog.scss */
.product .details p {
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
}
/* line 496, ../../sass/april/shopfrog.scss */
.product .details p.name {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
/* line 504, ../../sass/april/shopfrog.scss */
.product .details-expand {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 514, ../../sass/april/shopfrog.scss */
.product .details-expand:hover {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 519, ../../sass/april/shopfrog.scss */
.product .details-extra {
  display: none;
  border-top: solid 1px #efefef;
  background-color: #f6f6f6;
  overflow: hidden;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 526, ../../sass/april/shopfrog.scss */
.product .details-extra form {
  margin: 10px;
}
/* line 529, ../../sass/april/shopfrog.scss */
.product .details-extra form div {
  margin-bottom: 10px;
}
/* line 532, ../../sass/april/shopfrog.scss */
.product .details-extra form label {
  width: 65px;
  text-align: right;
  padding-right: 10px;
}
/* line 540, ../../sass/april/shopfrog.scss */
.product.cta {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
/* line 544, ../../sass/april/shopfrog.scss */
.product.cta h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}
/* line 551, ../../sass/april/shopfrog.scss */
.product.cta .content {
  margin: 10px;
}
/* line 555, ../../sass/april/shopfrog.scss */
.product.cta .poff {
  text-transform: uppercase;
  line-height: 1;
  font-size: 48px;
}
/* line 562, ../../sass/april/shopfrog.scss */
.product .quantity {
  color: inherit;
  background-color: #fff;
  width: 40%;
}
/* line 567, ../../sass/april/shopfrog.scss */
.product .quantity:hover {
  color: inherit;
  background-color: #fff;
}
/* line 573, ../../sass/april/shopfrog.scss */
.product select {
  width: 40%;
}
/* line 577, ../../sass/april/shopfrog.scss */
.product label {
  font-weight: normal;
}

/* line 582, ../../sass/april/shopfrog.scss */
.container {
  padding: 0;
}

/* line 587, ../../sass/april/shopfrog.scss */
.collection-page .container {
  margin: 10px auto 0 auto;
}
/* line 591, ../../sass/april/shopfrog.scss */
.collection-page #product-board {
  margin-top: 0;
}
/* line 595, ../../sass/april/shopfrog.scss */
.collection-page .board-filters,
.collection-page .board-links {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}
/* line 601, ../../sass/april/shopfrog.scss */
.collection-page .board-filters li,
.collection-page .board-links li {
  float: left;
  margin-bottom: 5px;
}
/* line 606, ../../sass/april/shopfrog.scss */
.collection-page .board-filters a,
.collection-page .board-links a {
  border: solid 1px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 8px;
  margin-right: 5px;
  display: block;
}
/* line 615, ../../sass/april/shopfrog.scss */
.collection-page .filter {
  margin-bottom: 3px;
}

/* line 621, ../../sass/april/shopfrog.scss */
.product-page .container {
  margin: 10px auto 0 auto;
}
/* line 624, ../../sass/april/shopfrog.scss */
.product-page .container.product-main {
  background-color: #fff;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}
/* line 631, ../../sass/april/shopfrog.scss */
.product-page .content {
  margin: 30px;
}
/* line 635, ../../sass/april/shopfrog.scss */
.product-page h1 {
  margin-bottom: 0;
}
/* line 639, ../../sass/april/shopfrog.scss */
.product-page .product-details-small {
  display: none;
}
/* line 643, ../../sass/april/shopfrog.scss */
.product-page .pricing {
  margin: 20px 0;
}
/* line 646, ../../sass/april/shopfrog.scss */
.product-page .pricing .price {
  font-size: 18px;
  margin-bottom: 0;
}
/* line 650, ../../sass/april/shopfrog.scss */
.product-page .pricing .price .delivery {
  font-size: 12px;
}
/* line 655, ../../sass/april/shopfrog.scss */
.product-page .pricing .special {
  float: left;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.05) 0 1px 0;
}
/* line 663, ../../sass/april/shopfrog.scss */
.product-page .main-imgs {
  margin-bottom: 20px;
  position: relative;
}
/* line 670, ../../sass/april/shopfrog.scss */
.product-page .main-imgs .background {
  display: none;
}
/* line 676, ../../sass/april/shopfrog.scss */
.product-page .form-inline.cart div {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}
/* line 682, ../../sass/april/shopfrog.scss */
.product-page .form-inline.cart .btn {
  width: 100%;
}
/* line 687, ../../sass/april/shopfrog.scss */
.product-page .tab-pane {
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px;
}

/* line 693, ../../sass/april/shopfrog.scss */
.ratings {
  margin-top: 5px;
}
/* line 696, ../../sass/april/shopfrog.scss */
.ratings .rateit {
  float: left;
  margin-right: 10px;
}
/* line 701, ../../sass/april/shopfrog.scss */
.ratings .extra {
  float: left;
}

/* line 706, ../../sass/april/shopfrog.scss */
.product-review {
  border-top: solid 1px #ddd;
}
/* line 709, ../../sass/april/shopfrog.scss */
.product-review header {
  font-family: 'PT Sans', sans-serif;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
/* line 716, ../../sass/april/shopfrog.scss */
.product-review header .rateit {
  float: left;
  margin-right: 10px;
}
/* line 722, ../../sass/april/shopfrog.scss */
.product-review .review-author {
  padding: 10px;
  background-color: #ebebeb;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 728, ../../sass/april/shopfrog.scss */
.product-review .review-author .top-contrib {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  -moz-border-radius: 0 5px 0 5px;
  -ms-border-radius: 0 5px 0 5px;
  -o-border-radius: 0 5px 0 5px;
  -webkit-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;
  font-size: 10px;
  padding: 3px 10px;
}
/* line 738, ../../sass/april/shopfrog.scss */
.product-review .review-author p {
  margin-bottom: 0;
}
/* line 743, ../../sass/april/shopfrog.scss */
.product-review .report i {
  margin-top: 3px;
}

/* line 748, ../../sass/april/shopfrog.scss */
.user-review-product {
  padding: 10px;
  background-color: #ebebeb;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
/* line 754, ../../sass/april/shopfrog.scss */
.user-review-product img {
  float: left;
  margin-right: 10px;
}
/* line 759, ../../sass/april/shopfrog.scss */
.user-review-product .name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

/* line 767, ../../sass/april/shopfrog.scss */
.user-profile img {
  float: left;
  padding: 5px;
  border: solid 1px #ddd;
  margin-right: 20px;
}

/* line 776, ../../sass/april/shopfrog.scss */
.alternate-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 781, ../../sass/april/shopfrog.scss */
.alternate-images li {
  float: left;
  margin: 0 10px 0 0;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}
/* line 786, ../../sass/april/shopfrog.scss */
.alternate-images li a {
  display: block;
}

/* line 792, ../../sass/april/shopfrog.scss */
.review-totals {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}
/* line 798, ../../sass/april/shopfrog.scss */
.review-totals p {
  float: left;
  margin: 0;
}
/* line 803, ../../sass/april/shopfrog.scss */
.review-totals li {
  overflow: hidden;
  margin-bottom: 2px;
}
/* line 808, ../../sass/april/shopfrog.scss */
.review-totals .meter {
  float: left;
  height: 20px;
  position: relative;
  width: 200px;
  background-color: #ebebeb;
  margin: 0 10px;
}
/* line 816, ../../sass/april/shopfrog.scss */
.review-totals .meter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f4b426;
}

/* line 826, ../../sass/april/shopfrog.scss */
.review-main {
  margin-left: 40px;
  float: left;
}

/* line 831, ../../sass/april/shopfrog.scss */
.share {
  list-style-type: none;
  margin: 0;
}
/* line 835, ../../sass/april/shopfrog.scss */
.share li {
  float: left;
  margin-right: 10px;
}

/* line 841, ../../sass/april/shopfrog.scss */
#rate-review {
  float: left;
  margin-right: 10px;
}

/* line 846, ../../sass/april/shopfrog.scss */
#rate-review-label,
#rate-review-label-final {
  float: left;
  font-style: italic;
}

/* line 852, ../../sass/april/shopfrog.scss */
#rate-review-label {
  padding-right: 10px;
}

/* line 856, ../../sass/april/shopfrog.scss */
label sup {
  color: red;
}

/* line 861, ../../sass/april/shopfrog.scss */
.shopping-cart .table tbody > tr > td {
  vertical-align: middle;
}
/* line 865, ../../sass/april/shopfrog.scss */
.shopping-cart .name {
  width: 90px;
}
/* line 870, ../../sass/april/shopfrog.scss */
.shopping-cart .cart-summary td {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 875, ../../sass/april/shopfrog.scss */
.shopping-cart .cart-summary .cart-total {
  font-weight: 700;
  font-size: 22px;
}
/* line 880, ../../sass/april/shopfrog.scss */
.shopping-cart .cart-summary .btn {
  margin-bottom: 0;
}
/* line 885, ../../sass/april/shopfrog.scss */
.shopping-cart .img {
  width: 0;
}
/* line 887, ../../sass/april/shopfrog.scss */
.shopping-cart .img img {
  display: none;
}
/* line 892, ../../sass/april/shopfrog.scss */
.shopping-cart .quantity {
  display: inline-block;
  width: 16px;
  line-height: 16px;
  text-align: center;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 900, ../../sass/april/shopfrog.scss */
.shopping-cart .quantity:hover {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 905, ../../sass/april/shopfrog.scss */
.shopping-cart .order-quantity {
  display: inline-block;
  padding: 0 5px;
}
/* line 910, ../../sass/april/shopfrog.scss */
.shopping-cart .cart-remove {
  padding-right: 20px;
}

/* line 915, ../../sass/april/shopfrog.scss */
.instock {
  color: green;
}
/* line 918, ../../sass/april/shopfrog.scss */
.instock .stock-small {
  background-color: green;
}

/* line 923, ../../sass/april/shopfrog.scss */
.lowstock {
  color: orange;
}
/* line 926, ../../sass/april/shopfrog.scss */
.lowstock .stock-small {
  background-color: orange;
}

/* line 931, ../../sass/april/shopfrog.scss */
.outofstock {
  color: red;
}
/* line 934, ../../sass/april/shopfrog.scss */
.outofstock .stock-small {
  background-color: red;
}

/* line 939, ../../sass/april/shopfrog.scss */
.table-striped tbody > tr.cart-summary > td {
  background-color: #fff !important;
}

/* line 943, ../../sass/april/shopfrog.scss */
.cart-checkout {
  background-color: #ebebeb;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding-bottom: 10px;
}
/* line 949, ../../sass/april/shopfrog.scss */
.cart-checkout img {
  float: left;
  margin-right: 10px;
}
/* line 954, ../../sass/april/shopfrog.scss */
.cart-checkout .name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
/* line 960, ../../sass/april/shopfrog.scss */
.cart-checkout .item {
  float: left;
  clear: left;
  margin-left: 10px;
  margin-top: 10px;
}
/* line 967, ../../sass/april/shopfrog.scss */
.cart-checkout .desc {
  float: left;
}

/* line 972, ../../sass/april/shopfrog.scss */
.empty-cart {
  display: none;
}

/* line 976, ../../sass/april/shopfrog.scss */
.checkout-total {
  text-align: center;
}
/* line 979, ../../sass/april/shopfrog.scss */
.checkout-total span {
  font-size: 56px;
  line-height: 64px;
}
/* line 984, ../../sass/april/shopfrog.scss */
.checkout-total small {
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

/* line 991, ../../sass/april/shopfrog.scss */
.payment-methods {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}
/* line 996, ../../sass/april/shopfrog.scss */
.payment-methods li {
  margin-bottom: 10px;
}
/* line 1000, ../../sass/april/shopfrog.scss */
.payment-methods input {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

/* line 1007, ../../sass/april/shopfrog.scss */
#shipping-form {
  display: none;
}

/* line 1011, ../../sass/april/shopfrog.scss */
.form-search .help-block, .form-inline .help-block, .form-horizontal .help-block {
  display: none;
}

/* line 1015, ../../sass/april/shopfrog.scss */
#rate-review-label .help-block {
  color: #b94a48;
}

/* line 1019, ../../sass/april/shopfrog.scss */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/* line 1029, ../../sass/april/shopfrog.scss */
.page-general .container {
  margin: 10px auto 0 auto;
}
/* line 1032, ../../sass/april/shopfrog.scss */
.page-general .container.main-content {
  background-color: #fff;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}
/* line 1039, ../../sass/april/shopfrog.scss */
.page-general .content {
  margin: 30px;
}
/* line 1042, ../../sass/april/shopfrog.scss */
.page-general .content.inner {
  margin-top: 0;
}
/* line 1046, ../../sass/april/shopfrog.scss */
.page-general .content h1 {
  margin-top: 0;
}

/* line 1053, ../../sass/april/shopfrog.scss */
.shopping-cart table {
  table-layout: fixed;
}
/* line 1057, ../../sass/april/shopfrog.scss */
.shopping-cart .quantity-cell {
  width: 80px;
}
/* line 1062, ../../sass/april/shopfrog.scss */
.shopping-cart .size .size-large {
  display: none;
}
/* line 1068, ../../sass/april/shopfrog.scss */
.shopping-cart .stock .stock-small {
  display: block;
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 1074, ../../sass/april/shopfrog.scss */
.shopping-cart .stock .stock-large {
  display: none;
}
/* line 1080, ../../sass/april/shopfrog.scss */
.shopping-cart .cart-remove .remove-large {
  display: none;
}

/* line 1087, ../../sass/april/shopfrog.scss */
.about h3 {
  margin-top: 0;
}
/* line 1091, ../../sass/april/shopfrog.scss */
.about hr {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 1097, ../../sass/april/shopfrog.scss */
.person {
  float: left;
  margin-right: 20px;
}
/* line 1101, ../../sass/april/shopfrog.scss */
.person img {
  float: left;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  margin-right: 10px;
}
/* line 1107, ../../sass/april/shopfrog.scss */
.person div {
  float: left;
  padding-top: 20px;
}
/* line 1111, ../../sass/april/shopfrog.scss */
.person div p {
  margin: 0;
}
/* line 1115, ../../sass/april/shopfrog.scss */
.person div a {
  font-weight: 700;
}

/* line 1121, ../../sass/april/shopfrog.scss */
.added-to-basket {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #14b602;
  line-height: 50px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  font-family: 'Montserrat', sans-serif;
}

/* line 1134, ../../sass/april/shopfrog.scss */
footer {
  padding: 10px 0;
}
/* line 1137, ../../sass/april/shopfrog.scss */
footer .container {
  margin-top: 10px;
}
/* line 1141, ../../sass/april/shopfrog.scss */
footer p,
footer form {
  text-align: center;
}
/* line 1146, ../../sass/april/shopfrog.scss */
footer .col-sm-6 {
  margin-bottom: 25px;
}
/* line 1150, ../../sass/april/shopfrog.scss */
footer .form-control {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* line 1158, ../../sass/april/shopfrog.scss */
.btn-xs {
  font-size: 10.5px;
  padding: 1px 6px;
}

/* line 1163, ../../sass/april/shopfrog.scss */
.nav-tabs {
  margin-bottom: 10px;
}

/* line 1167, ../../sass/april/shopfrog.scss */
.load-more-container {
  text-align: center;
}

/*
*	Animate items
*/
/* line 1174, ../../sass/april/shopfrog.scss */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

/* line 1183, ../../sass/april/shopfrog.scss */
.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 1191, ../../sass/april/shopfrog.scss */
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

/* line 1199, ../../sass/april/shopfrog.scss */
.btn {
  font-family: 'Montserrat', sans-serif;
  border: none;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  color: #fff;
  white-space: normal;
}
/* line 1213, ../../sass/april/shopfrog.scss */
.btn:hover, .btn:focus {
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
/* line 1218, ../../sass/april/shopfrog.scss */
.btn.btn-large {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 16px 24px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}
/* line 1228, ../../sass/april/shopfrog.scss */
.btn.inline {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 1233, ../../sass/april/shopfrog.scss */
.btn.btn-bottom {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  border-radius: 0;
  line-height: 38px;
  text-transform: uppercase;
}

/* line 1244, ../../sass/april/shopfrog.scss */
.input-sm {
  width: 50px;
}

/* line 1248, ../../sass/april/shopfrog.scss */
label {
  font-weight: normal;
}

/* line 1252, ../../sass/april/shopfrog.scss */
.product-page .product-details-large {
  display: none;
}

/* line 1255, ../../sass/april/shopfrog.scss */
.product-page .product-details-small {
  display: block;
}

/* line 1259, ../../sass/april/shopfrog.scss */
#discount_code,
#credit_card_month {
  margin-bottom: 10px;
}

/* line 1264, ../../sass/april/shopfrog.scss */
.report {
  color: #000;
}
/* line 1266, ../../sass/april/shopfrog.scss */
.report .glyphicon {
  top: 3px;
}

@media (min-width: 520px) {
  /* line 1275, ../../sass/april/shopfrog.scss */
  .product.medium {
    width: 31%;
  }
  /* line 1278, ../../sass/april/shopfrog.scss */
  .product.large {
    width: 64%;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 1287, ../../sass/april/shopfrog.scss */
  .navbar-toggle {
    display: none;
  }

  /* line 1292, ../../sass/april/shopfrog.scss */
  .navbar .nav {
    position: static;
  }
  /* line 1296, ../../sass/april/shopfrog.scss */
  .navbar .nav > li {
    float: left;
    position: inherit;
  }
  /* line 1303, ../../sass/april/shopfrog.scss */
  .navbar .navbar-collapse {
    width: auto;
  }

  /* line 1308, ../../sass/april/shopfrog.scss */
  #product-board {
    width: 724px;
    margin: 20px auto;
  }

  /* line 1313, ../../sass/april/shopfrog.scss */
  .load-more-container {
    width: 724px;
    margin: 20px auto;
  }

  /* line 1318, ../../sass/april/shopfrog.scss */
  .product {
    margin: 5px;
  }
  /* line 1321, ../../sass/april/shopfrog.scss */
  .product.medium {
    width: 31%;
  }
  /* line 1324, ../../sass/april/shopfrog.scss */
  .product.large {
    width: 64%;
  }

  /* line 1329, ../../sass/april/shopfrog.scss */
  footer {
    margin-top: 40px;
  }
  /* line 1332, ../../sass/april/shopfrog.scss */
  footer p,
  footer form {
    text-align: left;
  }
  /* line 1337, ../../sass/april/shopfrog.scss */
  footer .col-sm-6 {
    margin-bottom: 0;
  }
  /* line 1341, ../../sass/april/shopfrog.scss */
  footer input[type="text"] {
    width: 80%;
    margin-bottom: 0;
  }

  /* line 1347, ../../sass/april/shopfrog.scss */
  body {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 1352, ../../sass/april/shopfrog.scss */
  .product-page .product-details-large {
    display: block;
  }

  /* line 1355, ../../sass/april/shopfrog.scss */
  .product-page .product-details-small {
    display: none;
  }

  /* line 1360, ../../sass/april/shopfrog.scss */
  .shopping-cart .name {
    width: 200px;
  }
  /* line 1364, ../../sass/april/shopfrog.scss */
  .shopping-cart .img,
  .shopping-cart .size {
    width: 100px;
  }
  /* line 1369, ../../sass/april/shopfrog.scss */
  .shopping-cart .img {
    width: auto;
  }
  /* line 1371, ../../sass/april/shopfrog.scss */
  .shopping-cart .img img {
    display: block;
  }
  /* line 1377, ../../sass/april/shopfrog.scss */
  .shopping-cart .stock .stock-small {
    display: none;
  }
  /* line 1380, ../../sass/april/shopfrog.scss */
  .shopping-cart .stock .stock-large {
    display: block;
  }
  /* line 1385, ../../sass/april/shopfrog.scss */
  .shopping-cart .cart-remove .remove-small {
    display: none;
  }
  /* line 1388, ../../sass/april/shopfrog.scss */
  .shopping-cart .cart-remove .remove-large {
    display: block;
  }
  /* line 1394, ../../sass/april/shopfrog.scss */
  .shopping-cart .size .size-small {
    display: none;
  }
  /* line 1397, ../../sass/april/shopfrog.scss */
  .shopping-cart .size .size-large {
    display: block;
  }

  /* line 1404, ../../sass/april/shopfrog.scss */
  .signin .form-control {
    width: auto;
  }

  /* line 1409, ../../sass/april/shopfrog.scss */
  #login-form input,
  #shipping-rates,
  #discount_code {
    width: auto;
  }

  /* line 1415, ../../sass/april/shopfrog.scss */
  #credit_card_month {
    margin-right: 3%;
    margin-bottom: 0;
  }

  /* line 1420, ../../sass/april/shopfrog.scss */
  #discount_code {
    margin-bottom: 0;
  }

  /* line 1424, ../../sass/april/shopfrog.scss */
  #credit_card_month,
  #credit_card_year {
    width: 47%;
    float: left;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 1434, ../../sass/april/shopfrog.scss */
  #product-board {
    width: 900px;
    margin: 20px auto;
  }

  /* line 1439, ../../sass/april/shopfrog.scss */
  .load-more-container {
    width: 900px;
    margin: 20px auto;
  }

  /* line 1445, ../../sass/april/shopfrog.scss */
  .product.large {
    width: 340px;
  }
  /* line 1449, ../../sass/april/shopfrog.scss */
  .product.medium {
    width: 170px;
  }

  /* line 1455, ../../sass/april/shopfrog.scss */
  .shopping-cart .name {
    width: 300px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 1463, ../../sass/april/shopfrog.scss */
  #product-board {
    width: 1200px;
  }

  /* line 1467, ../../sass/april/shopfrog.scss */
  .load-more-container {
    width: 1200px;
  }

  /* line 1472, ../../sass/april/shopfrog.scss */
  .product.large {
    width: 390px;
  }
  /* line 1475, ../../sass/april/shopfrog.scss */
  .product.medium {
    width: 190px;
  }
}
